
.modal_window_container
  .stretch_centering
    %div
      %div
        \
        / types: message__error, message__warning, message__information, message__question
        \
        .window{:'data-thid'=>'type',
                :'data-type'=>'',
                :'data-stretch'=>'false'}
          .window_head
            .stretch_margin
              %span.cut_text_outer
                \
                / title:
                \
                %span.cut_text_inner.text{:'data-thid'=>'title'}
                
          .window_body
            .message_container
              .message_icon_container
                .message_icon
              .message_text_container
                \
                / body:
                \
                %span.text{:'data-thid'=>'message'}
                
          .window_foot
            .stretch_margin
              
              .h{:'data-outer'=>'stretch'}
              
                .h_{:'data-thid'=>'beforeButtons',
                    :'data-inner'=>'stretch',
                    :'style'=>'width:50%;'}
                  .h__
                  
                \
                / button container appears here
                \
                
                .h_{:'data-inner'=>'stretch',
                    :'style'=>'width:50%;'}
                  .h__
                  
                  