.h_{:'data-inner'=>'stretch'}
  .h__
    \
    .button_container{:'data-thid'=>'button',
                      :'data-stretch'=>'only_y'}
      %button.__button.ordinary_push_button
        %span.text{:'data-thid'=>'buttonText',
                   :'style'=>'padding: 0 0.62em;'}
