
/*
 * dimensions
 */

$font-size: 13px;
$line-height: 1.3;

$nav-panel-font-size: 17px;

$field-height: 28px; // field height inclusive of margin
$field-margin: 1px; // visible field height would be: 28px - 1px = 26px

$file-upload-reset-width: $field-height;
$button_text_padding: 0 0.62em;
