
body {
	background: whitesmoke;
}
body,a {
  color: black;
}

$Blue: #4BB4FF;
$Red: #fe4543;
$Orange: #ffbb34;

$Gray0: rgb(250,250,250);
$Gray1: rgb(245,245,245);
$Gray2: rgb(235,235,235);
$Gray3: rgb(225,225,225);
$Gray4: rgb(215,215,215);
$Gray5: rgb(205,205,205);
$Gray6: rgb(195,195,195);

$gray0: rgb(250,250,250);
$gray1: rgb(245,245,245);
$gray2: rgb(235,235,235);
$gray3: rgb(225,225,225);
$gray4: rgb(215,215,215);
$gray5: rgb(205,205,205);
$gray6: rgb(195,195,195);

$blue__light: #189fff;
$blue__normal: #0085e4;
$blue__dark: #002e50;

$dark_pastel: #002e50;


//--------------------------------------------------------------------------------------------------
// core

$link_color: #0088cc;
$link_hover_color: #005580;

//--------------------------------------------------------------------------------------------------
// form

$file_upload_row_hover_color: whitesmoke;
$button_palette:
(
  ordinary:
  (
    inactive_text: black,
    inactive_gradient: (white,#f5f5f5),
    inactive_shadows: (white,#e4e4e4),
    inactive_borders: (#c8c8c8,#c3c3c3,#c3c3c3,#c8c8c8),
    inactive_disabled_text: #808080,
    inactive_disabled_gradient: (#f5f5f5,#ebebeb),
    inactive_disabled_borders: (#d8d8d8,#cdcdcd,#cdcdcd,#d8d8d8),
    active_shadows: (rgba(black,0.4),rgba(black,0.1)),
    active_borders: (gray,silver,silver,gray),
    active_disabled_text: #808080,
    active_disabled_gradient: (#f5f5f5,#ebebeb),
    active_disabled_borders: (gray,silver,silver,gray)
  ),
  branded:
  (
    inactive_text: white,
    inactive_gradient: (#00a595,#188890),
    inactive_shadows: (rgba(white,0.34),rgba(black,0.13)),
    inactive_borders: (darken(#00a595,8%),darken(#29758f,8%),darken(#29758f,8%),darken(#00a595,8%)),
    inactive_disabled_text: white,
    inactive_disabled_gradient: (#82b8ba,#7e9eb1),
    inactive_disabled_borders: (#82b8ba,#7e9eb1,#7e9eb1,#82b8ba),
    active_shadows: (rgba(black,0.8),rgba(black,0.2)),
    active_borders: (black,#666,#666,black),
    active_disabled_text: white,
    active_disabled_gradient: (#82b8ba,#7e9eb1),
    active_disabled_borders: (black,#666,#666,black)
  )
);
$text_field_palette:
(
  normal:
  (
    inactive:
    (
      shadow: rgba(black,0.03),
      border: #ebebeb
    ),
    hover:
    (
      shadow: rgba(black,0.1),
      border: #cdcdcd
    ),
    focus:
    (
      shadow: rgba(#4bb4ff,0.38),
      border: #4bb4ff
    )
  ),
  error:
  (
    inactive:
    (
      shadow: rgba(black,0.03),
      border: lighten(#fe4543,26%)
    ),
    hover:
    (
      shadow: rgba(black,0.1),
      border: #fe4543
    ),
    focus:
    (
      shadow: rgba(#fe4543,0.21),
      border: #fe4543
    )
  )
);
$table_palette: (
  test: black
);

//--------------------------------------------------------------------------------------------------
// panels

$load_text_color: #0088cc;
$path_current_item_color: #999999;
$path_separator_color: #999999;
$modal-window-container-background: rgba(#f5f5f5,0.9);
$window_palette:
(
  panel:
  (
    ordinary:
    (
      text: black,
      gradient: (white, #ebebeb)
    ),
    branded:
    (
      text: white,
      gradient: (#00a595, #188890)
    )
  ),
  message:
  (
    information:
    (
      text: black,
      gradient: (white, #ebebeb)
    ),
    question:
    (
      text: black,
      gradient: (white, #ebebeb)
    ),
    warning:
    (
      text: black,
      gradient: (#ffbb34, darken(#ffbb34,8%))
    ),
    error:
    (
      text: black,
      gradient: (#fe4543, darken(#fe4543,8%))
    )
  )
);

/*
 * navigation panel palette
 */

$nav-panel-background: #ebebeb;
$nav-panel-background-color: #ebebeb;
$nav-panel-border-color: rgb(250,250,250);
$nav-panel-triangle-color: whitesmoke;
$nav-button-background-color: transparent;
$nav-button-active-background-color: white;
$nav-button-border-color: #bbbbbb;
$submenu_background: #dfdfdf;
$submenu_border: rgb(250,250,250);
$y_nav_background: #dfdfdf;
$y_nav_border: rgb(250,250,250);
$y_nav_button_background__active: rgb(215,215,215);
$radio_button_triangle: rgb(250,250,250);
$dropbox_button__triangle__outer: rgb(250,250,250);
$dropbox_button__triangle__inner: #dfdfdf;
$submenu_separator__dark: rgba(black,0.05);
$submenu_separator__light: rgba(white,0.5);
