<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <link href="css/stylesheet.css" rel="stylesheet" type="text/css"/>
    <link href="test.css" rel="stylesheet" type="text/css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="test.js"></script>
    <title>Diaphanous Dress Collection</title>
  </head>
  <body ng-app="App">
    <div ui-view ng-controller='SkeletonCtrl'>
			<ul data-group="makeup_nav">
				<li ng-repeat='item in list'>
					<h2>{{item.name}}</h2>
					<ul>
						<li ng-repeat='item in item.list'>
							<a data-item="checkbox" ng-click='clickNav(item.name)'>{{item.name}}</a>
						</li>
					</ul>
				</li>
			</ul>
			<div id="makeup_lib">
				<div class='stretch' ng-repeat='item in list'>
					<div class='stretch' ng-repeat='i in item.list' ng-show='activeItem==i.name' ng-class='{isOnTop:activeItem==i.name}'>
						<ng-include src="getSrc(i.view)" ng-controller='ItemCtrl'></ng-include>
					</div>
				</div>
			</div>
    </div>
  </body>
</html>