@import "bower_components/silk-skirt/dist/silk-skirt.scss";
//@include highlight-all;
.isOnTop {
  z-index: 10000;
}
body {
  font-family: 'Open Sans';
}
h2{font-size:34px;font-weight:300;}
h3{font-size:21px;font-weight:300;}

.page_index{text-align:center;}
.page_index > div{display:inline-block;padding:21px;vertical-align:top;text-align:left;}
.page_index ul{padding:0;}
.page_index{font-family:arial;}
.page_index a{}

.page_form_button{text-align:center;font-size:0;}
.page_form_button > .page_form_button_stretch > div,
.page_form_button > .page_form_button_y_stretch > div,
.page_form_button > .page_form_button_flex > div{display:inline-block;position:relative;vertical-align:top;}
.page_form_button > .page_form_button_stretch > div{height:26px;width:100px;}
.page_form_button > .page_form_button_y_stretch > div{height:36px;}
.page_form_button > .page_form_button_flex > div{}
.page_form_button h2{font-size:21px;}

.page_form_button_NEW{text-align:center;font-size:0;}


.page_icon{text-align:center;font-size:0;overflow-y:auto;}
.page_icon [class^=raster_icon]{margin:0 6px 0 21px;}
.page_icon span{font-size:13px;/*line-height:21px;*/color:black;}
.page_icon h1{font-size:55px;margin:0.62em 0 0.16em 0;}
.page_icon h2{font-size:13px;max-width:610px;margin:3em auto 2em auto;height:0;position:relative;z-index:3;vertical-align:middle;}
.page_icon h2:before{content:'';left:0;width:100%;top:8px;height:1px;position:absolute;border-top:1px dashed black;z-index:-2;}
.page_icon h2:after{content:'';left:50%;width:60px;margin-left:-30px;top:8px;height:1px;position:absolute;background:white;z-index:-1;}
.page_icon h3{font-size:21px;margin:0.62em 0 0.16em 0;}
.page_icon [class*=_32px_] {margin-top:20px;}

.page_file{text-align:center;font-size:0;}
.page_file > div{max-width:640px;margin:0 auto;}
.page_file .test_file_container{position:relative;width:100%;height:50px;}

.page_form_button_NEW .test_container .button_container{margin:0 21px;}
.page_form_button_NEW .test_container{display:inline-block;vertical-align:top;padding:0 21px;}
.page_form_button_NEW .test_container_btn{position:relative;height:40px;width:100px;display:inline-block;margin:0 5px;}

.page_htmlarea{text-align:center;font-size:0;}

.page_x_nav > div{width:100%;height:40px;position:relative;}


/*.page_xnamed .htmlarea_toolbar{min-width:200px !important;}*/
.page_xnamed .window_body{}


.page_tree{text-align:center;font-size:0;}
.page_tree > div{display:inline-block;width:400px;height:100%;position:relative;border-left:1px dashed black;border-right:1px dashed black;}
.page_tree > div > .stretch_margin{overflow-y:scroll;}
/*.page_tree .tree{position:absolute;left:0;top:0;right:0;bottom:0;}*/

.page_x_layout{}

.page_hl h2{float: right;width: auto;left:auto;right:0;}









#makeup_lib {
  position: absolute;
  left: 262px;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto; }
  #makeup_lib > div > div {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }


h3 {
  font-weight: 300; }








.card_layout_item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.page_xnamed .htmlarea_toolbar {
  white-space: nowrap;
  float: left;
  width: auto; }

[data-group=makeup_nav] {
  margin: 0;
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: white;
  width: 262px;
  overflow-y: auto;
  overflow-x: auto;
  padding: 10px; }
  [data-group=makeup_nav] h2 {
    font-size: 18px;
    padding: 0 15px;
    margin: 0;
    font-weight: 600; }
  [data-group=makeup_nav] h3 {
    font-size: 13px;
    padding: 0 15px;
    margin: 0;
    font-weight: 600; }
  [data-group=makeup_nav] ul {
    list-style: none;
    padding: 0 15px;
    margin: 0; }
  [data-group=makeup_nav] li {
    padding: 0;
    margin: 0; }
  [data-group=makeup_nav] a,
  [data-group=makeup_nav] span {
    font-size: 13px;
    display: inline-block;
    line-height: 1.5;
    text-decoration: none;
    color: #777;
    border-bottom: 2px solid transparent;
    position: relative;
    padding: 0;
    margin: 0 0 0 13px; }
    [data-group=makeup_nav] a:after,
    [data-group=makeup_nav] span:after {
      content: "";
      position: absolute;
      top: 0;
      left: -13px;
      height: 100%;
      width: 13px;
      background: transparent; }
  [data-group=makeup_nav] span {
    cursor: default; }
    [data-group=makeup_nav] span:before {
      content: "";
      position: absolute;
      top: 7px;
      left: -13px;
      width: 0;
      height: 0;
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
      border-left: 6px solid #e6e6e6; }
  [data-group=makeup_nav] a:before {
    content: "";
    position: absolute;
    top: 7px;
    left: -13px;
    width: 0;
    height: 0;
    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 6px solid silver; }
  [data-group=makeup_nav] a:hover {
    border-color: silver;
    cursor: pointer; }
  [data-group=makeup_nav] a.active {
    color: #0088cc; }
    [data-group=makeup_nav] a.active:before {
      border-left-color: #0088cc !important; }
    [data-group=makeup_nav] a.active:hover {
      border-color: #0088cc; }
  