
//
//  states:
//    toggle:false, disabled:false, focus:false, hover:false
//    toggle:false, disabled:false, focus:false, hover:true
//    toggle:false, disabled:false, focus:true, hover:false
//    toggle:false, disabled:false, focus:true, hover:true
//    toggle:false, disabled:true, focus:null, hover:null
//    toggle:true, disabled:false, focus:false, hover:false
//    toggle:true, disabled:false, focus:false, hover:true
//    toggle:true, disabled:false, focus:true, hover:false
//    toggle:true, disabled:false, focus:true, hover:true
//    toggle:true, disabled:true, focus:null, hover:null
//

=button($style,$toggle,$disabled,$focus,$hover)
  @if $style == TEMPLATE
    @if $toggle == false
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            //
          @if $hover == true
            //
        @if $focus == true
          @if $hover == false
            //
          @if $hover == true
            //
      @if $disabled == true
        //
    @if $toggle == true
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            //
          @if $hover == true
            //
        @if $focus == true
          @if $hover == false
            //
          @if $hover == true
            //
      @if $disabled == true
        //
  @if $style == tree_button
    @if $toggle == true
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            //
          @if $hover == true
            //
  @if $style == default
    @if $toggle == false
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            &:before
              //background-color: white
              @include linear-gradient(white, lighten($Gray1, 2%))
              @include box-shadow(inset 1px 1px 2px white, inset -1px -1px 2px rgba(0,0,0,0.05), 0 0 2px 0px rgba(0,0,0,0.08))
              border:
                top-color: rgba(0,0,0,0.08)
                right-color: rgba(0,0,0,0.13)
                bottom-color: rgba(0,0,0,0.16)
                left-color: rgba(0,0,0,0.08)
          @if $hover == true
            &:before
              //background-color: white
              @include linear-gradient(white, $Gray1)
              @include box-shadow(inset 1px 1px 2px white, inset -1px -1px 2px rgba(0,0,0,0.05), 0 0 2px 0px rgba(0,0,0,0.08))
              border:
                top-color: rgba(0,0,0,0.21)
                right-color: rgba(0,0,0,0.34)
                bottom-color: rgba(0,0,0,0.34)
                left-color: rgba(0,0,0,0.21)
        @if $focus == true
          @if $hover == false
            &:before
              border-color: $blue__light
          @if $hover == true
            //
      @if $disabled == true
        &:before
          //background-color: $Gray5
          @include linear-gradient($Gray2, $Gray1)
          @include box-shadow(inset 1px 1px 2px white, inset -1px -1px 2px rgba(0,0,0,0.05), 0 0 2px 0px rgba(0,0,0,0.08))
          border:
            top-color: rgba(0,0,0,0.08)
            right-color: rgba(0,0,0,0.13)
            bottom-color: rgba(0,0,0,0.16)
            left-color: rgba(0,0,0,0.08)
    @if $toggle == true
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            &:before
              //background-color: $Gray2
              @include linear-gradient(white, $Gray1)
              @include box-shadow(inset 1px 1px 8px 0 rgba(0,0,0,0.21))
              border:
                top-color: darken(white,34%)
                right-color: darken(white,13%)
                bottom-color: darken(white,13%)
                left-color: darken(white,34%)
          @if $hover == true
            &:before
              //background-color: white
              @include linear-gradient(white, lighten($Gray1, 2%))
              @include box-shadow(inset 1px 1px 8px 0 rgba(0,0,0,0.21))
              border:
                top-color: darken(white,54%)
                right-color: darken(white,33%)
                bottom-color: darken(white,33%)
                left-color: darken(white,54%)
        @if $focus == true
          @if $hover == false
            &:before
              border-color: $blue__light
          @if $hover == true
            //
      @if $disabled == true
        //
  @if $style == tree_button
    @if $toggle == false
      @if $disabled == false
        @if $focus == true
          @if $hover == false
            &:after
              border-color: $blue__light
              display: block
          @if $hover == false
            //
    @if $toggle == true
      @if $disabled == false
        @if $focus == false
          @if $hover == false
            &:before
              background-color: darken(white,3%)
              @include linear-gradient(white, lighten($Gray1, 2%))
              @include box-shadow(inset 1px 1px 8px 0 rgba(black,0.21))
              border:
                top-color: darken(white,34%)
                right-color: darken(white,13%)
                bottom-color: darken(white,13%)
                left-color: darken(white,34%)
          @if $hover == true
            &:before
              border:
                top-color: darken(white,34%)
                right-color: darken(white,13%)
                bottom-color: darken(white,13%)
                left-color: darken(white,34%)
        @if $focus == true
          @if $hover == false
            //
          @if $hover == true
            //

.button
  &[data-style=default]
    @include button($style:default,$toggle:false,$disabled:false,$focus:false,$hover:false)
    &:hover
      @include button($style:default,$toggle:false,$disabled:false,$focus:false,$hover:true)
    //&:focus
      //@include button($style:default,$toggle:false,$disabled:false,$focus:true,$hover:false)
      //&:hover
        //@include button($style:default,$toggle:false,$disabled:false,$focus:true,$hover:true)
    &:active
      @include button($style:default,$toggle:true,$disabled:false,$focus:false,$hover:false)
    &:disabled
      @include button($style:default,$toggle:false,$disabled:true,$focus:false,$hover:false)
.hidden_input
  //&:focus
    //+ .button
      //&[data-style=default]
        //@include button($style:default,$toggle:false,$disabled:false,$focus:true,$hover:false)
  &:disabled
    + .button
      &[data-style=default]
        @include button($style:default,$toggle:false,$disabled:true,$focus:false,$hover:false)
  &:checked
    + .button
      &[data-style=default]
        @include button($style:default,$toggle:true,$disabled:false,$focus:false,$hover:false)
        &:hover
          @include button($style:default,$toggle:true,$disabled:false,$focus:false,$hover:true)
    //&:focus
      //+ .button
        //&[data-style=default]
          //@include button($style:default,$toggle:true,$disabled:false,$focus:true,$hover:false)

.button
  &[data-style=tree_button]
    &:focus
      @include button($style:tree_button,$toggle:false,$disabled:false,$focus:true,$hover:false)
      &:hover
        @include button($style:tree_button,$toggle:false,$disabled:false,$focus:true,$hover:true)
    &:active
      @include button($style:tree_button,$toggle:true,$disabled:false,$focus:false,$hover:false)
.tree_button_input
  &:focus
    + .button
      @include button($style:tree_button,$toggle:false,$disabled:false,$focus:true,$hover:false)
  &:checked
    + .button
      @include button($style:tree_button,$toggle:true,$disabled:false,$focus:false,$hover:false)
      &:hover
        @include button($style:tree_button,$toggle:true,$disabled:false,$focus:false,$hover:true)



.icon_button
  opacity: 0.5
  &:hover
    opacity: 1


