.checkbox_container
  width: 100%
  display: table
  > div
    display: table-cell
    vertical-align: middle
    text-align: center

$checkbox_size: 1.3em

$checkbox_blue: $blue__light

=hd__checkbox__enabled__inactive__default
  background-color: white
  border-color: darken(white,21%)
  box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.13)
  -webkit-box-shadow: inset 0 0 4px 0 rgba(0,0,0,0.13)

=hd__checkbox__enabled__inactive__hovered
  border-color: darken(white,55%)

=hd__checkbox__enabled__inactive__focused
  border-color: $checkbox_blue

=hd__checkbox__disabled
  background-color: darken(white,6%)
  border-color: darken(white,21%)

// check-sign size
.checkbox,
.radio
  font-size: 13px

$checkbox__padding: 0.38em

.checkbox,
.radio
  display: inline-block
  //width: 100%
  cursor: pointer
  @include user-select(none)
  position: relative
  min-height: 2em
  min-width: 1.3em
  padding:
    top: $checkbox__padding
    bottom: $checkbox__padding
  &:before
    z-index: 2
    display: block
    position: absolute
    content: ''
    width: 16px
    height: 16px
    display: none
    background-image: url(img/icons_16px.png)
    background-repeat: no-repeat
    @include icon-background-position($icon-grids, true, 16px, control, ordinary_checked)
  &:after
    content: ''
    display: block
    position: absolute
    z-index: 1
    top: $checkbox__padding
    height: $checkbox_size
    width: $checkbox_size
    border:
      width: 1px
      style: solid
    font-family: th__icon
  &[data-align='left']
    text-align: left
    padding-left: 2em
    &:after
      left: $checkbox__padding
  &[data-align='right']
    text-align: right
    padding-right: 2em
    &:after
      right: $checkbox__padding

.checkbox,
.radio
  &[data-align='left']
    &:before
      left: 0.4em
      top: 0.4em
  &[data-align='right']
    &:before
      right: 0.4em
      top: 0.4em

.checkbox,
.radio
  &:before
    color: black
    
.checkbox_input,
.radio_input
  @include hidden_input
  &:checked
    + .checkbox,
    + .radio
      &:before
        display: block


.checkbox,
.radio
  &:after
    @include hd__checkbox__enabled__inactive__default
  &:hover
    &:after
      @include hd__checkbox__enabled__inactive__hovered

//

.checkbox_input
  &:focus
    + .checkbox
      &:after
        @include hd__checkbox__enabled__inactive__focused

.radio_input
  &:focus
    + .radio
      &:after
        @include hd__checkbox__enabled__inactive__focused

//

.radio
  &:after
    border-radius: 50%

//

.checkbox_input,
.radio_input
  &:disabled
    + label
      cursor: default
      &:after
        @include hd__checkbox__disabled
    &[data-readonly='true']
      + label
        &:after
          @include hd__checkbox__enabled__inactive__default










