/**
 * clipped text
 */

.clipped-text {
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 0;
  
  > span {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: absolute;
    width: 100%;
    left: 0;
    top: -0.8em;
    line-height: 1.6;
    text-align: left;
  }
}
