
.combobox_container,
.stretch_combobox
  @include stretch

.combobox_dropbox
  display: none
  overflow: hidden
  position: absolute
  z-index: 9999
  width: auto
  min-width: 100%
  left: 0
  max-height: 250px
  overflow-y: auto


input
  &:checked
    + label
      + .combobox_dropbox
        display: block

.combobox_searchfield
  width: 100%


//
        


.combobox_dropbox
  background: $Gray1
  border:
    top-color: $Gray4
    right-color: $Gray6
    bottom-color: $Gray6
    left-color: $Gray4
  @include box-shadow(0 2px 3px 0 rgba(0,0,0,0.21), 1px 1px 10px 0 rgba(0,0,0,0.21))
  @include border-radius(3px)
  border:
    width: 1px
    style: solid
  top: 100%
  margin-top: 2px

.combobox_searchfield
  @include linear-gradient(white, $Gray1)
  padding: 8px

.combobox_option_group
  //

.combobox__no_options
  background: transparent
  padding: 6px 10px 6px 10px
  line-height: 20px
  color: #777
  text-align: center

//

.checkbox_for_combobox_option
  @include hidden_input
  + label
    display: block
    background: white
    position: relative
    @include user-select(none)
    &:before
      content: ''
      position: absolute
      top: 5px
      left: 5px
      z-index: 3
      //background-image: url(th__icon__raster__16x16.png)
      background-repeat: no-repeat
      display: none
      background-position: 0 0
      width: 16px
      height: 16px
    &:hover
      border-left: transparent
      border-right: transparent
      &:before
        display: block
        opacity: 0.21
        
  &:checked
    + label
      background: #a6d9fe !important
      &:before
        display: block
        opacity: 1

//

.combobox_option,
.combobox_option__single-line
  @include user-select(none)
  border-bottom: 1px solid transparent
  border-top: 1px solid $Gray1
  text-align: left
  padding: 0.5em 0.62em
  span
    @include user-select(none)
    white-space: nowrap
  &:hover
    background: $Gray1
    cursor: pointer
  .txt
    font-size: 13px
      
.combobox_option
  &:last-child
    border-bottom: none







      
.combobox_container
  > .__button
    padding-right: 24px
    @include user-select(none)
    > .combobox_triangle
      &:before,
      &:after
        content: ''
        display: block
        position: absolute
      &:before
        @include triangle($direction:down,$proportion:right,$size:5px,$color:rgba(black,1))
        // was gray
        right: 6px
        top: 50%
        margin-top: -2px
      &:after
        right: 21px
        width: 2px
        top: 2px
        bottom: 2px
        border: 1px solid
        border-top: none
        border-bottom: none
        border-left-color: rgba(white,0.5)
        border-right-color: rgba(black,0.05)
      > div
        text-align: left
        padding-left: 10px
    &:hover
      > div
        &:before
          @include triangle($direction:down,$proportion:right,$size:5px,$color:rgba(black,1))



.combobox_dropbox_hide
  display: none
  position: fixed
  z-index: 1000
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(black,0)


.button_checkbox
  @include hidden_input
  &:checked
    //+ .button__stretch
    + label
      z-index: 2000
      + .combobox_dropbox
        + .combobox_dropbox_hide
          display: block


.combobox_container
  > .button_checkbox
    &:disabled
      + .__button
        cursor: default
        + div + label + div
          @include stretch
          z-index: 10
    &[data-readonly=true]
      + .__button
        cursor: default
        &:before
          background: white
          @include box-shadow(none)
          border-top-color: rgba(0,0,0,0.08)
          border-right-color: rgba(0,0,0,0.13)
          border-bottom-color: rgba(0,0,0,0.16)
          border-left-color: rgba(0,0,0,0.08)
        > .combobox_triangle
          display: none
    
















