/**
 * file upload
 */

.file
  width: 100%
  height: $field_height
  position: relative


[type=file]
  @include stretch
  z-index: 20
  opacity: 0
  visibility: hidden
  cursor: pointer
  &:before
    @include stretch-pseudo-element
    background: black
    
.file_upload
  &[data-stretch=true]
    @include stretch
  &[data-stretch=false]
    position: relative
    width: 100%
    height: 30px
  &:hover
    background: $file_upload_row_hover_color

.file_upload_title_container
  position: absolute
  top: 0
  left: 0
  height: 100%
  right: 0
  
.file_upload_title
  display: inline !important
  color: $link_color
  border-bottom: 1px solid
  border-color: transparent
  &:hover
    color: $link_hover_color
    border-color: $link_hover_color
    cursor: pointer
      
.file_upload_reset
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: $file-upload-reset-width
