
.rich-text
  margin: 0.62em
  font-size: 13px
  
.rich-text,
.htmlarea

    
  dl
    display: block
    margin: 0.62em 0
  dt
    display: inline
    font-weight: bold
    &:before
      content: '\201c'
    &:after
      content: '\201d\003a\0020'
  dd
    display: inline
    margin: 0
    &:after
      margin-bottom: 0.38em
  a
    display: inline-block
    color: $link_color
    border-bottom: 1px solid transparent
    &:hover
      color: $link_hover_color
      border-color: $link_hover_color
  b
    font-weight: bold
  i
    font-style: italic
  ul,
  ol
    padding: 0 0 0 1.62em
    li
      //
  table
    border-collapse: collapse
    border: 1px solid #ebebeb
    @include border-radius(3px)
    overflow: hidden
  thead
    th,
    td
      background: darken(white,10%)
  td,
  th
    border:
      left: 1px solid rgba(black,0.05)
      right: 1px solid rgba(black,0.05)
    padding: 0.38em 0.62em
  th
    font-weight: bold
  thead
    tr
      &:last-child
        td,
        th
          border-bottom: 1px solid silver
  tbody
    tr
      &:nth-child(odd)
        th,
        td
          background: white
      &:nth-child(even)
        th,
        td
          background: darken(white,5%)
  h1
    font-size: 34px
  h2
    font-size: 26px
  h3
    font-size: 21px
  h1,
  h2,
  h3
    font-weight: normal
    margin: 0.38em 0

  ol
    list-style: none
    li
      counter-increment: item
      &:first-child
        counter-reset: item
      &:before
        content: counters(item, ".") ". "
        font-weight: bold

