
.number_field
  position: relative
  z-index: 10
  label
    display: block
  > div
    display: table
    border-spacing: 0
    width: 0%
    > div
      display: table-cell
      vertical-align: top
      background: transparent
      width: 0%
      &.number_field__texfield
        width: 0%
      &.number_field__buttons
        width: 0%
        padding: 2px 1px 0 0
  input
    //font-family: monospace
    font-size: 12px
    line-height: 16px
    &[maxlength='4']
      width: 60px !important
    &[maxlength='3']
      width: 30px !important
    &[maxlength='2']
      width: 23px !important
    &[maxlength='1']
      width: 15px !important
  &:hover
    .number_field__texfield
      > input
        + div
          border: 1px solid
          width: 100%
          height: 100%
          position: absolute
          left: 0
          top: 0
          z-index: -2
          background: white
          border:
            top-color: $Gray6
            right-color: $Gray4
            bottom-color: $Gray4
            left-color: $Gray6
          @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.1))
          @include border-radius(3px)




// single-line date-time-picker templates

.number_field_group
  display: table
  width: 0%
  height: 100%
  > div
    display: table-cell
    vertical-align: middle
    width: 0%

// attribute once

.number_field_group
  > div
    padding-right: 3px
    &:last-child
      padding-right: 0




// text-field

.number_field
  .number_field__texfield
    > input
      outline: none
      border: none
      background: none
      @include box-sizing(border-box)
      width: 100%
      height: 16px
      margin: 5px 0
      position: relative
      text-align: right
      + div
        border: 1px solid $Gray2
        background: white
        @include box-sizing(border-box)
        @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.03))
        //@include border-radius(3px)
        width: 100%
        height: 100%
        position: absolute
        z-index: -3
        left: 0
        top: 0
        @include border-radius(3px)
      // design of textfield: on focus
      &:focus
        + div
          z-index: -1
          @include box-shadow(inset 1px 1px 5px 0 rgba(75,180,255,0.38))
          border:
            top-color: $Blue
            right-color: lighten($Blue,13%)
            bottom-color: lighten($Blue,13%)
            left-color: $Blue
  label
    + div
      border: 1px solid $Gray2
      background: white
      @include box-sizing(border-box)
      @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.03))
      //@include border-radius(3px)
      width: 100%
      height: 100%
      position: absolute
      z-index: -3
      left: 0
      top: 0
      @include border-radius(3px)
    // design of textfield: on focus
    &:active
      + div
        z-index: -1
        @include box-shadow(inset 1px 1px 5px 0 rgba(75,180,255,0.38))
        border:
          top-color: $Blue
          right-color: lighten($Blue,13%)
          bottom-color: lighten($Blue,13%)
          left-color: $Blue

// buttons

.number_field
  [class^='button__']
    @include button($style:default,$toggle:false,$disabled:false,$focus:false,$hover:false)
    position: relative
    width: 16px
    height: 11px
    margin: 0 1px 0 0
    &:before
      @include stretch-pseudo-element
      z-index: -1
      border:
        width: 1px
        style: solid
      @include border-radius(2px)
    &:after
      content: ''
      position: absolute
      z-index: 1
      left: 5px
      // fixing default radius
      @include border-radius(0)
    &:hover
      @include button($style:default,$toggle:false,$disabled:false,$focus:false,$hover:true)
      
.number_field
  .button__increase_number
    &:after
      top: 2px
      @include triangle($direction:up,$proportion:equilateral,$size:6px,$color:#999)
    &:hover
      &:after
        @include triangle($direction:up,$proportion:equilateral,$size:6px,$color:#000)
.number_field
  .button__decrease_number
    &:before
      //top: -1px
    &:after
      top: 3px
      @include triangle($direction:down,$proportion:equilateral,$size:6px,$color:#999)
    &:hover
      &:after
        @include triangle($direction:down,$proportion:equilateral,$size:6px,$color:#000)




.number_field__builtin_label
  color: silver
  > label
    font-size: 12px
    line-height: 16px
    padding: 5px 7px 5px 4px




















