
//
//  state:
//    disabled:false, check:null, focus:false, hover:false
//    disabled:false, check:null, focus:false, hover:true
//    disabled:false, check:null, focus:true, hover:false
//    disabled:false, check:null, focus:true, hover:true
//    disabled:false, check:error, focus:false, hover:false
//    disabled:false, check:error, focus:false, hover:true
//    disabled:false, check:error, focus:true, hover:false
//    disabled:false, check:error, focus:true, hover:true
//    disabled:true, check:null, focus:false, hover:false
//


=Text-field_design__default__default
  background: white
  @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.03))
  border:
    top-color: $Gray2
    right-color: $Gray2
    bottom-color: $Gray2
    left-color: $Gray2
=Text-field_design__default__hover
  @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.1))
  border:
    top-color: $Gray6
    right-color: $Gray4
    bottom-color: $Gray4
    left-color: $Gray6
=Text-field_design__default__focus
  @include box-shadow(inset 1px 1px 5px 0 rgba(75,180,255,0.38))
  border:
    top-color: $Blue
    right-color: lighten($Blue,13%)
    bottom-color: lighten($Blue,13%)
    left-color: $Blue

=Text-field_design__error__default
  @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.03))
  border:
    top-color: lighten($Red,21%)
    right-color: lighten($Red,26%)
    bottom-color: lighten($Red,26%)
    left-color: lighten($Red,21%)
=Text-field_design__error__hover
  @include box-shadow(inset 1px 1px 5px 0 rgba(0,0,0,0.1))
  border:
    top-color: $Red
    right-color: lighten($Red,13%)
    bottom-color: lighten($Red,13%)
    left-color: $Red
=Text-field_design__error__focus
  @include box-shadow(inset 1px 1px 5px 0 rgba($Red,0.21))
  border:
    top-color: $Red
    right-color: lighten($Red,13%)
    bottom-color: lighten($Red,13%)
    left-color: $Red




