
=basic_text-field
  outline: none
  border: 1px solid
  background: white
  @include box-sizing(border-box)
  width: 100%
  height: 30px
  line-height: 16px
  padding: 6px 8px
  // design
  @include Text-field_design__default__default
  &:hover
    @include Text-field_design__default__hover
  &:focus
    @include Text-field_design__default__focus
  &[data-check='error']
    @include Text-field_design__error__default
    &:hover
      @include Text-field_design__error__hover
    &:focus
      @include Text-field_design__error__focus


.simple_textfield
  @include basic_text-field
  @include border-radius(3px)


//
.textfield__stretch
  position: absolute
  height: 100%

.textfield,
[class^='textfield__']
  z-index: 2
  left: 0
  top: 0
  outline: none
  border: none
  width: 100%
  padding: 0 0.62em
  background: transparent
  border: 1px solid
  @include Text-field_design__default__default
  &:hover
    z-index: 5
    @include Text-field_design__default__hover
  &:focus
    z-index: 999
    @include Text-field_design__default__focus
  &[data-check='error']
    z-index: 6
    @include Text-field_design__error__default
    &:hover
      @include Text-field_design__error__hover
    &:focus
      @include Text-field_design__error__focus

.textfield,
[class^='textfield__']
  @include border-radius(3px)


.conjoined_field
  &:first-child
    > .textfield,
    > [class^='textfield__']
      @include border-radius(3px 0 0 3px)
  &:last-child
    > .textfield,
    > [class^='textfield__']
      @include border-radius(0 3px 3px 0)









//










.stretch_textfield
  @include stretch
  z-index: 10
  input
    outline: none
    border: none
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
    line-height: 16px
    padding: 2px 8px
    background: transparent
    + div
      position: absolute
      z-index: -1
      left: 0
      top: 0
      width: 100%
      height: 100%
      border: 1px solid
      // design
      @include Text-field_design__default__default
      @include border-radius(3px)
    &:hover
      z-index: 6
      + div
        z-index: 5
        @include Text-field_design__default__hover
    &:focus
      z-index: 1000
      + div
        z-index: 999
        @include Text-field_design__default__focus
    &[data-check='error']
      z-index: 6
      + div
        z-index: 5
        @include Text-field_design__error__default
      &:hover
        + div
          @include Text-field_design__error__hover
      &:focus
        + div
          @include Text-field_design__error__focus







