.load.secondary_load
  %div
    %div
      %span.text
        Loading data...
        %span{:'data-thid'=>'number'} 0
      .load_animation
        %img{:'src'=>'./_js_/css/img/loading.gif',:'alt'=>'Loading...'}

