/**
 * reset
 */

@include reset-all(back-end);

div {
  font-size: 0;
}
span {
  display: inline-block;
  font-size: 0;
}
.text {
  font-size: 13px;
  line-height: 19px;
  span {
    font-size: inherit
  }
}
