
.modal-window-container
  .centering{:'data-outer'=>'stretch'}
    %div
      %div
        
        - ['information',
           'question',
           'warning',
           'error'].each do |value|
              
          .window{:'data-stretch'=>'false',:'data-type'=>"message__" + value}
            .window-head
              .stretch-margin
              
                %span.clipped-text
                  %span.text
                    =value + " " + value + " " + value + " " + value + " " + value + " " + value + " " + value + " " + value
                  
            .window-body
              
              .message-container
                .message-icon-container
                  .message-icon
                  
                .message-text-container
                  %span.text
                    You're editing a project!
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      
            .window-foot
              .stretch-margin
                
                .horizontal-layout{:'data-outer'=>'stretch'}
                
                  .column{:'data-inner'=>'stretch',:'style'=>'width:50%;'}
                    %div
                    
                  .column{:'data-inner'=>'stretch'}
                    %div
                      
                      .button_container{:'data-stretch'=>'only_y'}
                        %button.__button.ordinary_push_button
                          %span.text Ok

                  .column{:'data-inner'=>'stretch'}
                    %div
                      
                      .button_container{:'data-stretch'=>'only_y'}
                        %button.__button.ordinary_push_button
                          %span.text Cancel
                          
                  .column{:'data-inner'=>'stretch',:'style'=>'width:50%;'}
                    %div
                    
                    