
.modal-window-container
  .centering{:'data-outer'=>'stretch'}
    %div
      %div
      
        - ['ordinary',
           'branded'].each do |value|
             
          .window{:'data-stretch'=>'false',:'class'=>value + "-panel",:'style'=>'max-width:610px;'}
            .window-head
              .stretch-margin
                .horizontal-layout{:'data-outer'=>'stretch'}
                  .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
                    %div
                      %span.clipped-text
                        %span.text
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  .column{:'data-inner'=>'flexible',:'style'=>''}
                    %div{:'style'=>''}
                      .button_container{:'data-stretch'=>'only_y'}
                        %button.__button{:'class'=>value + "_push_button"}
                          %span.text
                            =value
                            button
                        %div
                  .column{:'data-inner'=>'stretch',:'style'=>''}
                    %div{:'style'=>'width:26px;'}
                      .button_container{:'data-stretch'=>'true'}
                        %button.__button{:'class'=>value + "_push_button"}
                          %span{:'class'=>'icon_16px_control_' + value + '_unchecked'}
                        %div
            .window-body
              %span.text{:'style'=>'padding:21px;'}
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                      