
.nav-panel{:'style'=>'bottom:auto;height:55px'}

  .horizontal-layout{:'data-outer'=>'stretch'}
    
    .column{:'data-inner'=>'stretch',:'style'=>''}
      .container{:'style'=>'width:160px;'}
        .stretch-margin
    .column{:'data-inner'=>'stretch',:'style'=>''}
      .container{:'style'=>'width:70px;'}
        .nav-panel-button-container
          %a.nav-panel-button{:'href'=>'./nav.html'}
            %span
              %span
                %span.text Updates
    .column{:'data-inner'=>'stretch',:'style'=>''}
      .container{:'style'=>'width:70px;'}
        .nav-panel-button-container.selected
          %a.nav-panel-button{:'href'=>'./nav.html'}
            %span
              %span
                %span.text Projects
    .column{:'data-inner'=>'stretch',:'style'=>''}
      .container{:'style'=>'width:70px;'}
        .nav-panel-button-container
          %a.nav-panel-button{:'href'=>'./nav.html'}
            %span
              %span
                %span.text Search
    .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
      .container{:'style'=>''}
        .stretch-margin