
.stretch{:'style'=>'top:0;height:50%;'}

  .window.branded-panel{:'data-stretch'=>'true',:'style'=>'margin:21px;'}
    .window-head
      .stretch-margin
        .horizontal-layout{:'data-outer'=>'stretch'}
          .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
            %div
              %span.clipped-text
                %span.text
                  Branded Panel
    .window-body
      %span.text{:'style'=>'padding:21px;'}
        Stretched panel with branded palette


.stretch{:'style'=>'top:50%;height:50%;'}

  .window.ordinary-panel{:'data-stretch'=>'false',:'style'=>'margin:21px;'}
    .window-head
      .stretch-margin
        .horizontal-layout{:'data-outer'=>'stretch'}
          .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
            %div
              %span.clipped-text
                %span.text
                  Ordinary Panel
    .window-body
      %span.text{:'style'=>'padding:21px;'}
        Flexible panel with ordinary palette