
.path
  %div
    %div
      - ['1 First','2','3','4','5','6','7','8','9','10','11','12','13 Last'].each do |i|
        %span.path-item
          %a{:'href'=>'#'}
            Path Item
            = i