

%div{:'style'=>'position:absolute;top:0;right:0;bottom:0;left:0;background:white;'}
  %div{:'style'=>'top:0;right:0;height:50px;left:0;'}
        
    .fixed_table_head{:'style'=>'height:50px;'}
      %div
        .fixed
          .table_head
            %table
              %col{:'width'=>'150px'}
              %col{:'width'=>'25%'}
              %col{:'width'=>'25%'}
              %col{:'width'=>'25%'}
              %col{:'width'=>'25%'}
              %tr
                - ['1','2','3','4'].each do |j|
                  %th
                    %input.hidden-input{:'type'=>'radio',:'name'=>'table_sort',:'id'=>'table_sort__th_' + j + '__ascending',:'checked'=>'checked'}
                    %input.hidden-input{:'type'=>'radio',:'name'=>'table_sort',:'id'=>'table_sort__th_' + j + '__descending'}
                    %div
                      %label.speedy_sorting{:'for'=>'table_sort__th_' + j + '__ascending'}
                      %label.speedy_sorting{:'for'=>'table_sort__th_' + j + '__descending'}
                      .th__text
                        .centering{:'data-outer'=>'stretch'}
                          %div
                            %div
                              %span.text
                                Table head
                %th
                  %div
        .fix
          %div
  
  - tr_height = '30px'
  %div{:'style'=>'overflow-y:scroll;position:absolute;top:50px;right:0;bottom:0;left:0;'}
    - ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36','37','38','39','40','41','42','43','44','45','46','47','48','49','50','51','52','53','54','55','56','57','58','59','60','61','62','63','64','65','66','67','68','69','70','71','72','73','74','75','76','77','78','79','80','81','82','83','84','85','86','87','88','89','80','91','92','93','94','95','96','97','98','99','100'].each do |i|
      %table.table_body
        %tbody
          %tr{:'style'=>"height:" + tr_height}
            %td{:'style'=>'width:150px;'}
              %label.text
                single-line
                = i
            %td{:'style'=>'width:25%;'}
              %label.text
                single-line
                = i
            %td{:'style'=>'width:25%;'}
              %label.text
                single-line
                = i
            %td{:'style'=>'width:25%;'}
              %label.text
                single-line
                = i
            %td{:'style'=>'width:25%;'}
              .button_container{:'data-stretch'=>'false'}
                %button.__button.ordinary_push_button
                  %span.text
                    button
              .button_container{:'data-stretch'=>'false'}
                %button.__button.ordinary_push_button{:'style'=>"width:26px;padding:0;"}
                  .icon_16px_control_ordinary_checked


