
.tree{:'style'=>'font-size:16px;background:white;'}
  .tree_branch
    .tree_leaf{:'data-aggregative'=>'false'}
      %input.checkbox_for_tree_branch{:'type'=>'checkbox',:'id'=>"toggle_xxx",:'disabled'=> true}
      %div
        .tree_branch_toggle{:'style'=>'height:30px;'}
          %label.th__icon__{:'for'=>"toggle_xxx"}
        .tree_leaf_toggle{:'style'=>'height:28px;'}
          .horizontal-layout{:'data-outer'=>'stretch'}
            .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
              %div
                .stretch-margin
                  %input.tree_button_input{:'type'=>'radio',:'id'=>"toggle_xxx" + "0",:'name'=>'tree'}
                  %button.tree_button_main.button.stretch.selected{:'for'=>"toggle_xxx" + "0",:'data-shape'=>'stretch',:'data-style'=>'tree_button'}
                    %span.clipped-text
                      %span.text
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  
        .tree_branch
        
    - ['11','12','13','14','15','16','17','18','19'].each do |i|
      .tree_leaf{:'data-aggregative'=>'true'}
        %input.checkbox_for_tree_branch{:'type'=>'checkbox',:'id'=>"toggle_" + i,:'checked'=>'checked'}
        %div
          .tree_branch_toggle{:'style'=>'height:30px;'}
            %label.th__icon__{:'for'=>"toggle_" + i}
          .tree_leaf_toggle{:'style'=>'height:28px;'}
            .horizontal-layout{:'data-outer'=>'stretch'}
              .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
                %div
                  .stretch-margin
                    %input.tree_button_input{:'type'=>'radio',:'id'=>"toggle_" + i + "0",:'name'=>'tree'}
                    %button.tree_button_main.button.stretch{:'for'=>"toggle_" + i + "0",:'data-shape'=>'stretch',:'data-style'=>'tree_button'}
                      %span.clipped-text
                        %span.text
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    
          .tree_branch
          
            - ['21','22','23'].each do |i|
              .tree_leaf{:'data-aggregative'=>'false'}
                %input.checkbox_for_tree_branch{:'type'=>'checkbox',:'id'=>"toggle_" + i,:'checked'=>'checked'}
                %div
                  .tree_branch_toggle{:'style'=>'height:30px;'}
                    %label.th__icon__{:'for'=>"toggle_" + i}
                  .tree_leaf_toggle{:'style'=>'height:28px;'}
                    .horizontal-layout{:'data-outer'=>'stretch'}
                      .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
                        %div
                          .stretch-margin
                            %input.tree_button_input{:'type'=>'radio',:'id'=>"toggle_" + i + "0",:'name'=>'tree'}
                            %button.tree_button_main.button.stretch{:'for'=>"toggle_" + i + "0",:'data-shape'=>'stretch',:'data-style'=>'tree_button'}
                              %span.clipped-text
                                %span.text
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.