
.loading
  @include stretch
  z-index: 100000
  > div
    display: table
    @include stretch
    > div
      display: table-cell
      text-align: center

.primary-loading
  > div
    > div
      vertical-align: middle

.secondary-loading
  > div
    > div
      vertical-align: top
  .text
    margin-top: 0.62em

.loading
  .text
    color: $load_text_color
    margin-bottom: 0.62em

.loading-animation
  text-align: center
  font-size: 0
