
//  background & border
$main_menu_background: #dfdfdf
$main_menu_border: transparent
$submenu_background: #dfdfdf
$submenu_border: $Gray0
$button_background: transparent
$button_background__active: $Gray2
$button_border: #bbbbbb
$submenu_separator__dark: rgba(black,0.05)
$submenu_separator__light: rgba(white,0.5)

//  triangles
$radio_button_triangle: $Gray0
$dropbox_button__triangle__outer: $Gray0
$dropbox_button__triangle__inner: #dfdfdf

//  text
$main_menu_text__normal: black
$main_menu_text__minor: rgba(black,0.7)

//
//  background & border
//

.main_menu
  background: $main_menu_background
  
.main_menu__dropbox
  > div
    &:after
      background: $submenu_background
      border: 1px solid $submenu_border
      
.submenu
  > div
    &:after
      background: $submenu_background

.main_menu__text,
.main_menu__empty_space,
.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button,
.main_menu__dropbox_button
  &:before
    @include box-shadow(inset 0 0 3px 0 rgba(black,0.01), inset 0 0 10px 0 rgba(black,0.03))
  &:after
    border-left-color: $button_border
    border-right-color: $button_border
    background: $button_background
    
.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button,
.main_menu__dropbox_button
  &:hover
    &:before
      @include box-shadow(inset 0 0 20px 5px $main_menu_background, inset 0 0 3px 0 rgba(black,0.01), inset 0 0 10px 0 rgba(black,0.03))
    &:after
      background: $button_background__active
      
.main_menu__input
  &:checked
    + .main_menu__radio_button,
    + .main_menu__toggle_button,
    + .main_menu__dropbox_button
      &:after
        border-left-color: $button_border
        border-right-color: $button_border
        background: $button_background__active
    + .main_menu__radio_button,
    + .main_menu__toggle_button
      &:hover
        &:before
          @include box-shadow(inset 0 0 3px 0 rgba(black,0.01), inset 0 0 10px 0 rgba(black,0.03))
          
.main_menu__button
  &.active
    &:after
      border-left-color: $button_border
      border-right-color: $button_border
      background: $button_background__active
    &:hover
      &:before
        @include box-shadow(inset 0 0 3px 0 rgba(black,0.01), inset 0 0 10px 0 rgba(black,0.03))
          
.main_menu__dropbox_link
  &:hover
    background: $button_background__active
          
.main_menu__dropbox_link_separator
  border-top-color: $submenu_separator__dark
  border-bottom-color: $submenu_separator__light

.submenu
  > div
    &:after
      border-color: $submenu_border
      background: $submenu_background
      
//
//  triangles
//

.main_menu__input
  &:checked
    + .main_menu__radio_button
    
      &[data-direction=down]
        > div
          &:after
            @include triangle($direction:up,$proportion:right,$size:7px,$color:$radio_button_triangle)
            
      &[data-direction=up]
        > div
          &:after
            @include triangle($direction:down,$proportion:right,$size:7px,$color:$radio_button_triangle)
.main_menu__button
  &.active
    
    &[data-direction=down]
      > div,
      > span
        &:after
          @include triangle($direction:up,$proportion:right,$size:7px,$color:$radio_button_triangle)
          
    &[data-direction=up]
      > div,
      > span
        &:after
          @include triangle($direction:down,$proportion:right,$size:7px,$color:$radio_button_triangle)
            
.main_menu__dropbox_button

  &[data-type=drop_on_hover]
  
    &[data-direction=down]
      &:hover
        > div
          &:before
            @include triangle($direction:up,$proportion:right,$size:7px,$color:$dropbox_button__triangle__inner)
          &:after
            @include triangle($direction:up,$proportion:right,$size:7px,$color:$dropbox_button__triangle__outer)
            
    &[data-direction=up]
      &:hover
        > div
          &:before
            @include triangle($direction:down,$proportion:right,$size:7px,$color:$dropbox_button__triangle__inner)
          &:after
            @include triangle($direction:down,$proportion:right,$size:7px,$color:$dropbox_button__triangle__outer)
          
.main_menu__input
  &:checked
    + .main_menu__dropbox_button
    
      &[data-direction=down]
        > div
          &:before
            @include triangle($direction:up,$proportion:right,$size:7px,$color:$dropbox_button__triangle__inner)
          &:after
            @include triangle($direction:up,$proportion:right,$size:7px,$color:$dropbox_button__triangle__outer)
            
      &[data-direction=up]
        > div
          &:before
            @include triangle($direction:down,$proportion:right,$size:7px,$color:$dropbox_button__triangle__inner)
          &:after
            @include triangle($direction:down,$proportion:right,$size:7px,$color:$dropbox_button__triangle__outer)
   
.main_menu__dropbox_link
  &[data-x_direction=left]
    &:before
      @include triangle($direction:left,$proportion:right,$size:5px,$color:$button_background__active)
    &:after
      @include triangle($direction:left,$proportion:right,$size:7px,$color:$submenu_border)
  &[data-x_direction=right]
    &:before
      @include triangle($direction:right,$proportion:right,$size:5px,$color:$button_background__active)
    &:after
      @include triangle($direction:right,$proportion:right,$size:7px,$color:$submenu_border)

//  text

.main_menu
  color: $main_menu_text__normal
  [class^=th__icon__]
    color: $main_menu_text__normal

.main_menu__dropbox_link_description
  color: $main_menu_text__minor
    
//  icons

.logo
  background-position: -32px 0
.main_menu__icon__menu
  background-position: 0 -20px
.main_menu__icon__search
  background-position: -20px -20px
.main_menu__icon__projects
  background-position: -40px -20px
.main_menu__icon__updates
  background-position: -60px -20px

