
//
//  submenu
//
  
.main_menu__dropbox_button

  &[data-direction=down]
    .main_menu__dropbox,
    + .main_menu__dropbox
      top: 100%
      
  &[data-direction=up]
    .main_menu__dropbox,
    + .main_menu__dropbox
      bottom: 100%
      
.main_menu__dropbox_hide
  display: none
  position: fixed
  z-index: 1000
  top: 0
  right: 0
  bottom: 0
  left: 0
  background: rgba(white,0)
  
.main_menu__dropbox
  display: none
  position: absolute
  z-index: 5000
  > div
    position: relative
    z-index: 10000
    padding: (1em / $golden_ratio) 0 (1em / $golden_ratio) 1px
    min-width: 100%
    &:after
      position: absolute
      z-index: -1
      top: 0
      right: -1px
      bottom: 0
      left: 0
      content: ''
      display: block
  .radio_label
    margin: 0 10px

.main_menu__dropbox_link_heading
  padding: (1em / $golden_ratio / $golden_ratio) 1em
  font-weight: bold

.main_menu__dropbox_link
  padding: (1em / $golden_ratio / $golden_ratio) 1em
  &:hover
    cursor: pointer

.main_menu__dropbox_link_description
  padding: (1em / $golden_ratio / $golden_ratio) 1em
      
.main_menu__dropbox_link_separator
  width: 100%
  height: 2px
  margin: 10px 0
  border-top-width: 1px
  border-top-style: solid
  border-bottom-width: 1px
  border-bottom-style: solid

//
//
//

//
//
//

//
//
//

//
//  main menu
//


.main_menu
  position: absolute


//
//
//

.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button,
.main_menu__dropbox_button
  @include stretch
  z-index: 3
  &:after
    border-left-width: 1px
    border-left-style: solid
    border-right-width: 1px
    border-right-style: solid
.main_menu__text,
.main_menu__empty_space,
.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button,
.main_menu__dropbox_button
  &:before
    content: ''
    display: block
    position: absolute
    z-index: -1
    top: 1px
    right: 1px
    bottom: 1px
    left: 2px
  &:after
    content: ''
    display: block
    position: absolute
    z-index: 2
    top: 0
    right: -1px
    bottom: 0
    left: 0
    border-left-width: 1px
    border-left-style: solid
    border-right-width: 1px
    border-right-style: solid
.main_menu__input
  &:checked
    + .main_menu__radio_button,
    + .main_menu__toggle_button
      z-index: 500



    
//
//  icon
//
.logo
  display: inline-block
  position: relative
  z-index: 3
  width: 32px
  height: 32px
  vertical-align: top
  background-image: url(logo.png)
  background-repeat: no-repeat
  margin-right: 5px

.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button,
.main_menu__dropbox_button
  &:hover
    [class^='main_menu__icon__']
      opacity: 1

//
//  cursor
//

.main_menu__button,
.main_menu__radio_button,
.main_menu__toggle_button
  &:hover
    cursor: pointer

.main_menu__input
  &:checked
    + .main_menu__radio_button
      &:hover
        cursor: default

.main_menu__dropbox_button
  &[data-type=drop_on_click]
    &:hover
      cursor: pointer
  
.main_menu__dropbox_button
  &[data-type=drop_on_hover]
    &:hover
      cursor: default


//
//  toggle:true
//






.main_menu__input
  &:checked
    + .main_menu__radio_button,
    + .main_menu__toggle_button
      z-index: 500
      span
        opacity: 1
      [class^='main_menu__icon']
        opacity: 1

            
//
//  triangles
//

.main_menu__input
  &:checked
    + .main_menu__radio_button
      &[data-direction=down]
        > div,
        > span
          &:after
            content: ''
            display: block
            position: absolute
            left: 50%
            bottom: 0
            right: auto
            top: auto
            margin-left: -7px
            z-index: 19002
            @include box-shadow(none)
      &[data-direction=up]
        > div,
        > span
          &:after
            content: ''
            display: block
            position: absolute
            left: 50%
            top: 0
            right: auto
            bottom: auto
            margin-left: -7px
            z-index: 19001
            @include box-shadow(none)


.main_menu__button
  &.active
    &[data-direction=down]
      > div,
      > span
        &:after
          content: ''
          display: block
          position: absolute
          left: 50%
          bottom: 0
          right: auto
          top: auto
          margin-left: -7px
          z-index: 19002
          @include box-shadow(none)
    &[data-direction=up]
      > div,
      > span
        &:after
          content: ''
          display: block
          position: absolute
          left: 50%
          top: 0
          right: auto
          bottom: auto
          margin-left: -7px
          z-index: 19001
          @include box-shadow(none)


  


//
//  toggle:true
//





.main_menu__input
  &:checked
    + .main_menu__dropbox_button
      z-index: 9950
      span
        opacity: 1
      [class^='main_menu__icon']
        opacity: 1


.main_menu__input
  &:checked
    + .main_menu__dropbox_button
      z-index: 20000
      span
        opacity: 1
      [class^='main_menu__icon']
        opacity: 1
      + .main_menu__dropbox
        display: block
        + .main_menu__dropbox_hide
          display: block
      &[data-direction=down]
        > div,
        > span
          &:before
            content: ''
            display: block
            position: absolute
            top: 100%
            right: 50%
            bottom: auto
            left: auto
            margin-top: -5px
            margin-right: -7px
            z-index: 20000
          &:after
            content: ''
            display: block
            position: absolute
            top: 100%
            right: 50%
            bottom: auto
            left: auto
            margin-top: -6px
            margin-right: -7px
            z-index: 19999
      &[data-direction=up]
        > div,
        > span
          &:before
            content: ''
            display: block
            position: absolute
            bottom: 100%
            right: 50%
            top: auto
            left: auto
            margin-bottom: -5px
            margin-right: -7px
            z-index: 20000
          &:after
            content: ''
            display: block
            position: absolute
            bottom: 100%
            right: 50%
            top: auto
            left: auto
            margin-bottom: -6px
            margin-right: -7px
            z-index: 19999
            


.main_menu__dropbox_button
  &[data-type=drop_on_hover]
    &:hover
      z-index: 15000
      > div
        .main_menu__dropbox
          z-index: 14000
          display: block
        &:before
          content: ''
          display: block
          position: absolute
          top: 100%
          right: 50%
          bottom: auto
          left: auto
          margin-top: -5px
          margin-right: -7px
          z-index: 15020
        &:after
          content: ''
          display: block
          position: absolute
          top: 100%
          right: 50%
          bottom: auto
          left: auto
          margin-top: -6px
          margin-right: -7px
          z-index: 15009

//
//
//

//
//
//

//
//
//

//
//  font
//

.main_menu
  white-space: nowrap


//
//
//

.main_menu__input
  @include hidden_input




//
//  SUBMENUS
//

.submenu
  display: none
  position: absolute
  z-index: 5000
  > div
    position: relative
    z-index: 10000
    padding: (1em / $golden_ratio) 1px
    min-width: 100%
    &:after
      position: absolute
      z-index: -1
      top: 0
      right: 0
      bottom: 0
      left: 0
      content: ''
      display: block
      border:
        width: 1px
        style: solid
      

      
.main_menu__dropbox_link
  position: relative
  &:hover
    .submenu
      display: block
  &[data-x_direction=left]
    .submenu,
    + .submenu
      right: 100%
    &:before,
    &:after
      display: none
      position: absolute
      content: ''
      right: 100%
      top: 50%
    &:before
      z-index: 10000
      margin-left: -5px
      margin-top: -5px
    &:after
      z-index: 9999
      margin-left: -7px
      margin-top: -7px
    &:hover
      &:before,
      &:after
        display: block
    

      
  &[data-x_direction=right]
    .submenu,
    + .submenu
      left: 100%
    &:before,
    &:after
      display: none
      position: absolute
      content: ''
      left: 100%
      top: 50%
    &:before
      z-index: 10000
      margin-right: -5px
      margin-top: -5px
    &:after
      z-index: 9999
      margin-right: -7px
      margin-top: -7px
    &:hover
      &:before,
      &:after
        display: block
        
        
  &[data-y_direction=top]
    .submenu,
    + .submenu
      top: 0
      margin-top: -(1em / $golden_ratio)
        
  &[data-y_direction=bottom]
    .submenu,
    + .submenu
      bottom: 0
      margin-bottom: -(1em / $golden_ratio)
      















