
.path
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: table
  > div
    display: table-cell
    font-size: 0
    line-height: 0
    text-align: left
    vertical-align: middle
    padding: 0 10px

.path-item
  float: left
  margin-left: 1em
  position: relative
  font-size: 13px
  line-height: 21px
  &:after
    content: '/'
    display: block
    position: absolute
    top: 0
    left: -1em
    width: 1em
    text-align: center
    color: $path_separator_color
  > a
    float: left
    @include link
  &:last-child
    > a
      color: $path_current_item_color
      border-color: transparent
      cursor: default
