
.table_head,
.fixed_table_head
  background: rgba(black,0.05)
  overflow: hidden
  @include linear-gradient(white, $gray1)
  &:after
    @include linear-gradient(rgba(black,0), rgba(black,0.08))

.table_head
  th
    border-left-color: rgba(white,0.34)
    border-right-color: rgba(black,0.05)
.table_body
  td
    border-left-color: rgba(white,0.34)
    border-right-color: rgba(black,0.05)

.fixed_table_head
  @include stretch
  &:after
    content: ''
    display: block
    position: absolute
    bottom: 0
    height: 3px
    left: 0
    width: 100%
  > div
    display: table
    width: 100%
    height: 100%
    > .fixed
      display: table-cell
      width: 100%
      height: 100%
      vertical-align: top
    > .fix
      width: 0%
      > div
        overflow-y: scroll
        height: 0

//
//  table head
//

.table_head
  position: relative
  width: 100%
  height: 100%
  > table
    table-layout: fixed
    border-collapse: separate
    border-spacing: 0
    width: 100%
    height: 100%
    th
      vertical-align: top
      padding: 0
      border-left-width: 1px
      border-left-style: solid
      border-right-width: 1px
      border-right-style: solid
      height: 100%
      //for IE 9
      > div
        position: relative
        width: 100%
        min-height: 100%
        height: 100%
        > label
          @include stretch
          @include user-select(none)
          &:after
            content: ''
            display: block
            position: relative
            z-index: -10
            top: 0
            height: 100%
            left: 0
            width: 100%
          &:hover
            cursor: default
            &:after
              background: rgba(black,0.08)
              @include linear-gradient(rgba(black,0), rgba(black,0.05))
      &:first-child
        border-left: none
      &:last-child
        border-right: none
    

.th__text
  @include stretch
  span
    position: relative
    &:before
      content: ''
      display: block
      position: absolute

.table_head
  label
    z-index: 100
    + label
      z-index: 99

.hidden-input
  &:checked
    + .hidden-input
      + div
        > label
          z-index: 99
          + label
            z-index: 100
        .th__text
          span
            &:before
              right: -1em
              top: 0.6em
              @include triangle($direction:down,$proportion:right,$size:5px,$color:rgba(black,0.34))

.hidden-input
  + .hidden-input
    &:checked
      + div
        > label
          z-index: 100
          + label
            z-index: 99
        .th__text
          span
            &:before
              right: -1em
              top: 0.6em
              @include triangle($direction:up,$proportion:right,$size:5px,$color:rgba(black,0.34))


//
// newest
//

.table_body
  border: none
  border-collapse: separate
  border-spacing: 0
  width: 100%
  table-layout: fixed
  td
    vertical-align: middle
    background: transparent
    padding: 0
    border: 1px solid
    border-top-color: rgba(white,0.5)
    border-left-color: rgba(white,0.5)
    border-right-color: rgba(black,0.08)
    border-bottom-color: rgba(black,0.08)
    font-size: 0
    line-height: 0
  tr
    &.selected
      > td
        background: #a6d9fe !important
    &:hover
      > td
        background: whitesmoke








