

$tree_line_color: rgb(240,240,240)
//$tree_branch_toggle_color: $Gray5
$tree_branch_toggle_color: red
$tree_branch_toggle_hovered_color: $blue__normal
$blue__lighter: lighten($blue__light,30%)

.tree
  overflow: hidden
  @include user-select(none)
  font-size: 16px
  position: relative
  z-index: 500
  div
    font-size: 16px

//
//  tree branch
//


.tree_branch
  .tree_branch
    padding: 0 0 0 1em
    display: none

.checkbox_for_tree_branch
  @include hidden_input
  &:checked
    //+ .tree_leaf
    //  PREV. V.
    + div
      > .tree_branch
        display: block

//
//  tree leaf
//

.tree_leaf
  position: relative
  //  :before and :after are reserved for lines


//
//  tree branch toggle
//

.tree_branch_toggle
  height: 28px

.tree_branch_toggle
  position: absolute
  left: 0
  top: 0
  width: 1em
  [class^=th__icon]
    position: absolute
    width: 0
    height: 0
    left: 50%
    top: 50%
    &:before
      content: ''
      width: 16px
      height: 16px
      display: block
      position: absolute
      left: 0
      top: 0
      margin-left: -8px
      margin-top: -8px
      background-repeat: no-repeat
      background-image: url(img/icons_16px.png)
      

.tree_leaf
  &[data-aggregative=false]
    > div
      > .tree_branch_toggle
        > label
          &:before
            @include icon-background-position($icon-grids, true, 16px, control, tree_branch_11)
  
.tree_leaf
  &[data-aggregative=true]
    > div
      > .tree_branch_toggle
        > label
          cursor: pointer
          color: $Gray6
          &:before
            @include icon-background-position($icon-grids, true, 16px, control, tree_branch_12)
          &:hover:before
            @include icon-background-position($icon-grids, true, 16px, control, tree_branch_13)
            
        > .tree_leaf_toggle
          > label
            font-weight: bold

.tree_leaf
  &[data-aggregative=true]
    > .checkbox_for_tree_branch
      &:checked
        + div
          > .tree_branch_toggle
            > label
              &:before
                @include icon-background-position($icon-grids, true, 16px, control, tree_branch_22)
              &:hover:before
                @include icon-background-position($icon-grids, true, 16px, control, tree_branch_23)



//
//  tree leaf toggle
//

      
.tree_leaf_toggle
  position: relative
  //float: left
  //display: table
  //width: 100%
  margin-left: 1em
  //padding: 6px
  //font-size: 12px
  //line-height: 16px
  //  :after is reserved for lines
  
[data-style=tree_button]
  @include stretch
  &:before
    content: ''
    display: none
    position: absolute
    z-index: -19
    top: 3px
    bottom: 3px
    //left: -28px
    left: 2px
    right: 3px
    //@include linear-gradient(tb, rgba(white,0.5), rgba($Gray1,0.5))
    @include box-shadow(inset 0 0 2px 0 rgba(black,0.02), inset 0 0 10px 0 rgba(black,0.05))
    @include border-radius(2px)
    
  &:after
    content: ''
    display: none
    position: absolute
    z-index: -20
    top: 1px
    bottom: 1px
    left: 0
    right: 1px
    border: 1px solid
    border-color: transparent
    @include border-radius(3px)
    background: white
  &:hover
    cursor: pointer
    &:before
      display: block
      
    &:after
      display: block
      border-color: $Gray4
      

//  tree button: toggle


.tree_button_input
  @include hidden_input
  &:checked
    + [class^=__button]
      &:before,
      &:after
        display: block
      &:hover
        cursor: default

[data-palette=light_gray]
  .tree_button_input
    @include hidden_input
    &:checked
      + [class^=__button]
        &:before
          @include box-shadow(inset 0 0 2px 0 rgba(#002e50,0.02), inset 0 0 10px 0 rgba(#002e50,0.08))
        &:after
          border-color: #002e50

[data-palette=colour]
  .tree_button_input
    @include hidden_input
    &:checked
      + [class^=__button]
        &:before
          @include box-shadow(inset 0 0 2px 0 rgba($blue__light,0.02), inset 0 0 10px 0 rgba($blue__light,0.08))
        &:after
          border-color: $blue__light
//
//  lines
//

//
//  radial line from one's branch toggle to it's parent's branch toggle
//

.tree_branch_toggle
  &:after
    content: ''
    display: block
    position: absolute
    top: 0
    bottom: 50%
    margin-bottom: -1px
    left: -0.5em
    margin-left: -1px
    width: 1em
    z-index: -5
    border-color: $tree_line_color
    //z-index: 100
    //background: tomato
    border-left-width: 1px
    //
    //  end of arrow
    //
    border-bottom-width: 1px
    //
    //
    //
    border-style: solid
    border-top: none
    border-right: none
    background: none
    @include border-radius(0 0 0 100%)

.tree
  > .tree_branch
    > .tree_leaf
      > div
        > .tree_branch_toggle
          &:after
            display: none
            // root leafs do not need this

//
//  vertical lines
//

.checkbox_for_tree_branch
  &:checked
    //+ .tree_leaf
    //  PREV. V.
    + div
      //
      //  vertical line for multiline "leaf toggle" (connects leaf's "branch toggle" with leaf's children)
      //
      > .tree_leaf_toggle
        &:after
          content: ''
          display: block
          position: absolute
          //top: 50%
          top: 14px
          bottom: 0
          left: -0.5em
          margin-left: -1px
          width: 1px
          z-index: -5
          border-left: 1px solid $tree_line_color
          //z-index: 100
          //border-color: red
        &:last-child
          &:after
            display: none
      //
      //  vertical line for siblings of the leafs
      //
      > .tree_branch
        > .tree_leaf
          &:before
            content: ''
            display: block
            position: absolute
            top: 0
            bottom: 0
            left: -0.5em
            margin-left: -1px
            width: 1px
            z-index: -5
            border-left: 1px solid $tree_line_color
            //z-index: 100
            //border-color: tomato
          &:last-child
            &:before
              display: none



//
//  NEW
//



.tree_leaf_toggle
  &:before
    content: ''
    display: none
    position: absolute
    z-index: -40
    top: 0
    bottom: 0
    right: 0
    //background: $Gray1
    //@include border-radius(4px)
    //border: 1px solid $Gray1

.tree
  &:hover
    .tree_leaf_toggle
      &:before
        //display: block
      &:hover
        &:before
          display: block
          @include box-shadow(inset 0 0 10px 0 rgba(black,0.05))



.tree_branch
  .tree_leaf_toggle
    &:before
      left: -1em
  .tree_branch
    .tree_leaf_toggle
      &:before
        left: -2em
    .tree_branch
      .tree_leaf_toggle
        &:before
          left: -3em
      .tree_branch
        .tree_leaf_toggle
          &:before
            left: -4em
        .tree_branch
          .tree_leaf_toggle
            &:before
              left: -5em
          .tree_branch
            .tree_leaf_toggle
              &:before
                left: -6em
            .tree_branch
              .tree_leaf_toggle
                &:before
                  left: -7em
              .tree_branch
                .tree_leaf_toggle
                  &:before
                    left: -8em

[data-style=tree_button]
  @include user-select(none)
  [class^='tree_icon__']
    vertical-align: top


.tree
  [data-style=tree_button]
    padding: 5px 8px
    .text
      padding: 0 8px
.tree
  .button
    &[data-style=default]
      padding: 5px 8px
      white-space: nowrap

[data-style=tree_button]
  [class^='th__icon__']
    opacity: 0.26

.tree_button_main
  &.selected
    &:before
      display: block !important
      @include box-shadow(inset 0 0 2px 0 rgba(#002e50,0.02), inset 0 0 10px 0 rgba(#002e50,0.08))
    &:after
      display: block !important
      border-color: #002e50 !important
  .text
    text-align: left !important
    
  