
.window.branded-panel{:'data-stretch'=>'true',:'style'=>'margin:10px;min-width:470px !important;min-height:360px !important;'}
  .window-head{:'style'=>'height:30px;'}
  
    .stretch-margin{:'style'=>'margin:1px;'}
      .horizontal-layout{:'data-outer'=>'stretch'}
        .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
          %div
            .stretch-margin
              %span.clipped-text
                %span.text
                  Project Details
        .column{:'data-inner'=>'stretch',:'style'=>''}
          %div{:'style'=>'width:80px;'}
            .stretch-margin
              .button_container{:'data-stretch'=>'true'}
                %button.__button.branded_push_button
                  %span.text Save
                %div
        .column{:'data-inner'=>'stretch',:'style'=>''}
          %div{:'style'=>'width:26px;'}
            .stretch-margin
              .button_container{:'data-stretch'=>'true'}
                %button.__button.branded_push_button
                  %span.close-icon{:'style'=>'font-size:16px;'}
                %div
  .window-body
    
    .stretch-margin{:'style'=>'margin:4px;'}
    
      .vertical-layout{:'data-outer'=>'stretch'}
        .row{:'data-inner'=>'flexible'}
          %div
            %div
              .horizontal-layout{:'data-type'=>'flexible',:'style'=>'height:30px;margin:2px'}
                
                .column{:'data-inner'=>'flexible',:'style'=>'width:0%;'}
                  %div
                    .button_container{:'data-stretch'=>'only_y'}
                      %button.ordinary_push_button.__button
                        %span.text Thaleia JS
                      %div
                    
                .column{:'data-inner'=>'flexible',:'style'=>'width:0%;'}
                  .htmlarea_container{:'data-stretch'=>'only_y',:'style'=>'margin:1px;'}
                    .string_area
                      %span 
                        %span.text{:'contenteditable'=>'true'} 2.0.0
                  
                .column{:'data-inner'=>'stretch'}
                  %div{:'style'=>'width:70px;'}
                    .stretch-margin
                      .alignment{:'data-outer'=>'stretch',:'data-x'=>'left',:'data-y'=>'middle'}
                        %div
                          %div
                            .checkbox_container
                              %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1101xxx',:'checked'=>'checked'}
                              %label.checkbox{:'for'=>'check1101xxx',:'data-align'=>'left'}
                                %span.text{:'style'=>'padding:0 0.1em;'}
                                  Version
                  
                .column{:'data-inner'=>'stretch'}
                  %div{:'style'=>'width:10px;'}
                    .stretch-margin
                    
                .column{:'data-inner'=>'stretch'}
                  %div{:'style'=>'width:150px;'}
                    .stretch-margin
                    
                      .combobox_container
                        %input.button_checkbox{:'type'=>'checkbox',:'id'=>'comboxxx1'}
                        %label.__button.ordinary_push_button{:'for'=>'comboxxx1',:'data-stretch'=>'true'}
                          %span.alignment{:'data-outer'=>'stretch',:'data-x'=>'left',:'data-y'=>'middle'}
                            %span
                              %span
                                %span.text
                                  %span.icon_24px_text_editor_italic
                                  %span Trivial
                          %span.combobox_triangle
                        .combobox_dropbox
                          .combobox_option_group
                            %input.checkbox_for_combobox_option{:'id'=>'th100714xx',:'name'=>'th100611',:'type'=>'radio'}
                            %label.combobox_option.text{:'for'=>'th100714xx'}
                              %span.icon_24px_text_editor_bold
                              %span
                                trivial
                            %input.checkbox_for_combobox_option{:'id'=>'th1007142xx',:'name'=>'th100611',:'type'=>'radio'}
                            %label.combobox_option.text{:'for'=>'th1007142xx'}
                              %span.icon_24px_text_editor_italic
                              %span
                                minor
                            %input.checkbox_for_combobox_option{:'id'=>'th1007143xx',:'name'=>'th100611',:'type'=>'radio'}
                            %label.combobox_option.text{:'for'=>'th1007143xx'}
                              %span.icon_24px_text_editor_underline
                              %span
                                major
                            %input.checkbox_for_combobox_option{:'id'=>'th1007148xx',:'name'=>'th100611',:'type'=>'radio'}
                            %label.combobox_option.text{:'for'=>'th1007148xx'}
                              %span.icon_24px_text_editor_strikethrough
                              %span
                                critical
                            %input.checkbox_for_combobox_option{:'id'=>'th1007149xx',:'name'=>'th100611',:'type'=>'radio'}
                            %label.combobox_option.text{:'for'=>'th1007149xx'}
                              %span.icon_24px_text_editor_code
                              %span
                                blocker
                        %label.combobox_dropbox_hide{:'for'=>'comboxxx1'}
                    
                .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
                  -# strut
                  
              
              
        .row{:'data-inner'=>'stretch'}
          %div
            %div
              .stretch-margin{:'style'=>'margin:auto'}
                
                .horizontal-layout{:'data-outer'=>'stretch'}
                  .column{:'data-inner'=>'stretch',:'style'=>'width:100%'}
                    %div
                      .stretch-margin{:'style'=>'margin:0;'}
                        
                        .window.ordinary-panel{:'data-stretch'=>'true',:'style'=>''}
                          .window-head
                            .stretch_margin
                              .horizontal-layout{:'data-outer'=>'stretch'}
                                .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
                                  %div
                                    %span.clipped-text
                                      %span.text
                                        Description
                          .window-body
                      
                          
                            .htmlarea_container{:'data-stretch'=>'true'}
                              .htmlarea_toolbar
                                .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
                                  %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_40xx'}
                                  %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_40xx'}
                                    %span
                                      %span 
                                        %span.icon_24px_text_editor_bold
                                .button_container.conjoined_button_container{:'data-stretch'=>'false'}
                                  %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_41xx'}
                                  %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_41xx'}
                                    %span
                                      %span 
                                        %span.icon_24px_text_editor_italic
                                .button_container.conjoined_button_container{:'data-stretch'=>'false'}
                                  %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_42xx'}
                                  %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_42xx'}
                                    %span
                                      %span 
                                        %span.icon_24px_text_editor_underline
                                .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
                                  %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_43xx'}
                                  %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_43xx'}
                                    %span
                                      %span 
                                        %span.icon_24px_text_editor_strikethrough
                                .button_container{:'data-stretch'=>'false'}
                                  %button{'class'=>"__button ordinary_push_button",:'for'=>'tmp_44xx'}
                                    %span.icon_24px_text_editor_code
                                .button_container{:'data-stretch'=>'false'}
                                  %button{'class'=>"__button ordinary_push_button",:'for'=>'tmp_45xx'}
                                    %span.icon_24px_text_editor_file_upload
                              .htmlarea.text{:'contenteditable'=>'true',:'style'=>'margin:2px;padding:10px'}
                                          
                  .column{:'data-inner'=>'stretch'}
                    %div{:'style'=>'width:300px;'}
                      
                      .stretch-margin{:'style'=>'margin:0;'}
                      
                        .vertical-layout{:'data-outer'=>'stretch'}
                          .row{:'data-inner'=>'stretch'}
                            %div
                              %div
                                .stretch-margin
                                  .window.ordinary-panel{:'data-stretch'=>'true',:'style'=>''}
                                    .window-head
                                      .stretch-margin
                                        .horizontal-layout{:'data-type'=>'stretch'}
                                          .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
                                            %div
                                              %span.clipped-text
                                                %span.text
                                                  Reqiures
                                          .column{:'data-inner'=>'stretch',:'style'=>''}
                                            %div{:'style'=>'width:98px;'}
                                              .button_container{:'data-stretch'=>'true'}
                                                %button.__button.ordinary_push_button
                                                  %span.text
                                                    Change
                                                %div
                                    .window_body
                                
                                
                          .row{:'data-inner'=>'flexible',:'style'=>'height:200px'}
                            %div
                              %div
                                .window.ordinary-panel{:'data-stretch'=>'true',:'style'=>''}
                                  .window-head
                                    .stretch-margin
                                      .horizontal-layout{:'data-outer'=>'stretch'}
                                        .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
                                          %div
                                            %span.clipped-text
                                              %span.text
                                                Required by
                                  .window-body

