
.window.branded-panel{:'data-stretch'=>'true',:'style'=>'margin:10px;min-width:470px !important;min-height:360px !important;'}
  .window-head{:'style'=>'height:30px;'}
  
    .stretch-margin{:'style'=>'margin:1px;'}
      .horizontal-layout{:'data-outer'=>'stretch'}
        .column{:'data-inner'=>'stretch',:'style'=>'width: 100%;'}
          %div
            .stretch-margin
              %span.clipped-text
                %span.text
                  Каталог
  .window-body
    .stretch-margin
      .vertical-layout{:'data-outer'=>'stretch'}
        .row{:'data-inner'=>'flexible'}
          %div
            %div
              .nav-panel
              
                .horizontal-layout{:'data-outer'=>'flexible',:'style'=>'height:30px;'}
                  
                  .column{:'data-inner'=>'stretch',:'style'=>''}
                    .container{:'style'=>'width:160px;'}
                      .stretch-margin
                  - (['Главная','Опции','Цены','Фото','Бронь']).each do |column|
                    .column{:'data-inner'=>'stretch',:'style'=>''}
                      .container{:'style'=>'width:70px;'}
                        .nav-panel-button-container
                          %a.nav-panel-button{:'href'=>'./nav.html'}
                            %span
                              %span
                                %span.text
                                  = column
                  .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
                    .container{:'style'=>''}
                      .stretch-margin
              
        .row{:'data-inner'=>'flexible'}
          %div
            %div
              
        .row{:'data-inner'=>'stretch'}
          %div
            %div
              .stretch-margin{:'style'=>'margin:auto'}
                
                
