
.window.panel{:'data-stretch'=>'true'}
  
  \
  / head:
  \
  .window_head
    .stretch_margin
      .h{:'data-outer'=>'stretch'}
        / flexible column
        .h_{:'data-inner'=>'stretch',
            :'data-thid'=>'beforeButtons',
            :'style'=>'width: 100%;'}
          .h__
            .h___
              / window title
              %span.cut_text_outer
                %span.cut_text_inner.text{:'data-thid'=>'title'}
        / buttons will appear here
  .window_body{:'data-thid'=>'containerDiv'}
    
