.h_{:'data-inner'=>'stretch'}
  .h__{:'data-type'=>'width: 28px;'}
    .h___

      %button{:'class'=>'button',
              :'data-shape'=>'stretch',
              :'data-style'=>'default',
              :'data-thid'=>'button'}
        / here should be set class, ex: th__icon__close
        %span{:'data-thid'=>'icon'}