
.__x_nav{:'data-thid'=>'bodyDiv'}


  .h{:'data-outer'=>'stretch',
      :'data-thid'=>'itemContainer'}
    
    \
    / horizontal menu icon takes this place
    \
    / horizontal menu text takes this place
    \
    / horizontal menu button takes this place
    \
    / horizontal menu strut takes this place
    \

