
.h_{:'data-inner'=>'stretch'}
  .h__{:'data-thid'=>'width'}
    .h___
      .stretch_centering
        %div
          %div
            %span.x_nav_link_image{:'data-thid'=>'link'}
              %img{:'data-thid'=>'image',:'src'=>'url takes this place',:'alt'=>'so be it valid'}
