
.h_{:'data-inner'=>'stretch'}
  .h__{:'data-thid'=>'width'}
    .h___
      .__x_nav_button_container{:'data-thid'=>'button'}
        %button.__x_nav_button
          \
          / text:
          \
          %span.text{:'data-thid'=>'text'}
            \
            / text takes this place
            \

