
.h_{:'data-inner'=>'stretch'}
  .h__{:'data-thid'=>'width'}
    .h___
      .stretch_centering
        %span
          %span
            %img{:'data-thid'=>'image',:'src'=>'url takes this place',:'alt'=>'so be it valid'}
