
.h_{:'data-inner'=>'line'}
  .h__{:'data-thid'=>'width'}
    .x_nav_text{:'data-thid'=>'width'}
      %a.x_nav_link{:'data-thid'=>'text',:'style'=>'white-space: nowrap;'}
        \
        / text takes this place
        \

