
.button_container
{
  @include user-select(none);
  height: $field_height;
  padding: $field_margin;
  display: inline-block;
  vertical-align: top;
  position: relative;
  &[data-stretch=only_x] {width: 100%;}
  &[data-stretch=only_y] {height: 100%;}
  &[data-stretch=true]   {width: 100%;height: 100%;}
}

//--------------------------------------------------------------------------------------------------

.__button
{
  height: 100%;
  display: block;
  position: relative;
  border: 1px solid;
  @include border-radius(3px);
  &:hover {cursor: pointer;}
}

.button_container
{
  &[data-stretch=only_x],
  &[data-stretch=true]
  {
    .__button {width: 100%;}
  }
}

//--------------------------------------------------------------------------------------------------

.__button .text{white-space: nowrap;padding: $button_text_padding;}

//--------------------------------------------------------------------------------------------------

a.__button,
label.__button
{
  > span
  {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    > span
    {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }
}

//--------------------------------------------------------------------------------------------------
.button_container > .__button + div
{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  background: transparent;
}
