
.first_conjoined_button_container
{
  padding: 1px 0 1px 1px !important;
  .__button
  {
    @include border-radius(3px 0 0 3px);
    border-right: none;
  }
}

.conjoined_button_container
{
  padding: 1px 0 1px 0 !important;
  .__button
  {
    @include border-radius(0);
    border-right: none;
    border-left: none;
  }
}

.last_conjoined_button_container
{
  padding: 1px 1px 1px 0 !important;
  .__button
  {
    @include border-radius(0 3px 3px 0);
    border-left: none;
  }
}
