.v_{:'data-thid'=>'rootDiv',
    :'data-inner'=>'stretch'}
  \
  / stretch row (single instance)
  \
  .v__
    .v___
      .v____
        \
        / auto-scrolling div
        \
        .stretch_margin{:'data-thid'=>'containerDiv'}
          \
          / something takes this place
          \

