.v_{:'data-inner'=>'line',
    :'data-thid'=>'rootDiv'}
  \
  / flexible row (multiple instances)
  \
  .v__{:'data-thid'=>'paddingDiv',
       :'style'=>'padding: 0px 0px 0px 0px;'}
    .v___{:'data-thid'=>'containerDiv'}
      \
      / something takes this place
      \

