.v_{:'data-inner'=>'line',
    :'data-thid'=>'rootDiv'}
  \
  / flexible row (multiple instances)
  \
  .v__
    .v___
      .stretch_margin{:'data-thid'=>'containerDiv'}
        \
        / something takes this place
        \

