
%div{:'style'=>'position:relative;margin:10px;'}

  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1101',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'check1101',:'data-align'=>'left'}
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check11011'}
    %label.checkbox{:'for'=>'check11011',:'data-align'=>'left'}
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'c1heck1104',:'disabled'=>'disabled',:'data-readonly'=>'false'}
    %label.checkbox{:'for'=>'c1heck1104',:'data-align'=>'left'}
      %span.text
        Disabled
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'c2heck11044',:'disabled'=>'disabled',:'data-readonly'=>'false',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'c2heck11044',:'data-align'=>'left'}
      %span.text
        Disabled checked
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'lcheck1105',:'disabled'=>'disabled',:'data-readonly'=>'true'}
    %label.checkbox{:'for'=>'lcheck1105',:'data-align'=>'left'}
      %span.text
        Readonly
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'clheck1106',:'disabled'=>'disabled',:'data-readonly'=>'true',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'clheck1106',:'data-align'=>'left'}
      %span.text
        Readonly checked
    

  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1101123',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'check1101123',:'data-align'=>'right'}
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check11011234'}
    %label.checkbox{:'for'=>'check11011234',:'data-align'=>'right'}
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1102',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'check1102',:'data-align'=>'right'}
      %span.text
        Normal Checked
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1103'}
    %label.checkbox{:'for'=>'check1103',:'data-align'=>'right'}
      %span.text
        Normal
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1104',:'disabled'=>'disabled',:'data-readonly'=>'false'}
    %label.checkbox{:'for'=>'check1104',:'data-align'=>'right'}
      %span.text
        Disabled
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check11044',:'disabled'=>'disabled',:'data-readonly'=>'false',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'check11044',:'data-align'=>'right'}
      %span.text
        Disabled checked
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1105',:'disabled'=>'disabled',:'data-readonly'=>'true'}
    %label.checkbox{:'for'=>'check1105',:'data-align'=>'right'}
      %span.text
        Readonly
  .checkbox_container
    %input.checkbox_input{:'type'=>'checkbox',:'id'=>'check1106',:'disabled'=>'disabled',:'data-readonly'=>'true',:'checked'=>'checked'}
    %label.checkbox{:'for'=>'check1106',:'data-align'=>'right'}
      %span.text
        Readonly checked
    
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio101r',:'name'=>'radioGroup1011'}
    %label.radio{:'for'=>'radio101r',:'data-align'=>'left'}
      %span.text
        Normal A
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio102r',:'name'=>'radioGroup1011',:'checked'=>'checked'}
    %label.radio{:'for'=>'radio102r',:'data-align'=>'left'}
      %span.text
        Normal B
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio103r',:'name'=>'radioGroup1011'}
    %label.radio{:'for'=>'radio103r',:'data-align'=>'left'}
      %span.text
        Normal C
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio104r',:'name'=>'radioGroup1011',:'disabled'=>'disabled',:'data-readonly'=>'false'}
    %label.radio{:'for'=>'radio104r',:'data-align'=>'left'}
      %span.text
        Disabled
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio105r',:'name'=>'radioGroup1011',:'disabled'=>'disabled',:'data-readonly'=>'true'}
    %label.radio{:'for'=>'radio105r',:'data-align'=>'left'}
      %span.text
        Readonly
    
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio101',:'name'=>'radioGroup101'}
    %label.radio{:'for'=>'radio101',:'data-align'=>'right'}
      %span.text
        Normal A
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio102',:'name'=>'radioGroup101',:'checked'=>'checked'}
    %label.radio{:'for'=>'radio102',:'data-align'=>'right'}
      %span.text
        Normal B
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio103',:'name'=>'radioGroup101'}
    %label.radio{:'for'=>'radio103',:'data-align'=>'right'}
      %span.text
        Normal C
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio104',:'name'=>'radioGroup101',:'disabled'=>'disabled',:'data-readonly'=>'false'}
    %label.radio{:'for'=>'radio104',:'data-align'=>'right'}
      %span.text
        Disabled
  .checkbox_container
    %input.radio_input{:'type'=>'radio',:'id'=>'radio105',:'name'=>'radioGroup101',:'disabled'=>'disabled',:'data-readonly'=>'true'}
    %label.radio{:'for'=>'radio105',:'data-align'=>'right'}
      %span.text
        Readonly
