
%div{:'style'=>'position:relative;width:200px;height:55px;margin:10px;'}
  / combo
  .combobox_container
    %input.button_checkbox{:'type'=>'checkbox',:'id'=>'combo1'}
    %label.__button.ordinary_push_button{:'for'=>'combo1',:'data-stretch'=>'true'}
      %span.alignment{:'data-outer'=>'stretch',:'data-x'=>'left',:'data-y'=>'middle'}
        %span
          %span
            %span.text
              %span.icon_24px_text_editor_italic
              %span Trivial
      %span.combobox_triangle
    .combobox_dropbox
      .combobox_option_group
        %input.checkbox_for_combobox_option{:'id'=>'th100714',:'name'=>'th100611',:'type'=>'radio'}
        %label.combobox_option.text{:'for'=>'th100714'}
          %span.icon_24px_text_editor_bold
          %span
            trivial
        %input.checkbox_for_combobox_option{:'id'=>'th1007142',:'name'=>'th100611',:'type'=>'radio'}
        %label.combobox_option.text{:'for'=>'th1007142'}
          %span.icon_24px_text_editor_italic
          %span
            minor
        %input.checkbox_for_combobox_option{:'id'=>'th1007143',:'name'=>'th100611',:'type'=>'radio'}
        %label.combobox_option.text{:'for'=>'th1007143'}
          %span.icon_24px_text_editor_underline
          %span
            major
        %input.checkbox_for_combobox_option{:'id'=>'th1007148',:'name'=>'th100611',:'type'=>'radio'}
        %label.combobox_option.text{:'for'=>'th1007148'}
          %span.icon_24px_text_editor_strikethrough
          %span
            critical
        %input.checkbox_for_combobox_option{:'id'=>'th1007149',:'name'=>'th100611',:'type'=>'radio'}
        %label.combobox_option.text{:'for'=>'th1007149'}
          %span.icon_24px_text_editor_code
          %span
            blocker
    %label.combobox_dropbox_hide{:'for'=>'combo1'}
  / combo end
  
  
  
  
  
  
  
%div{:'style'=>'position:relative;width:200px;height:40px;margin:10px;'}
  / combo
  .combobox_container
    %input.button_checkbox{:'type'=>'checkbox',:'id'=>'combo11',:'disabled'=>'disabled'}
    %label.__button.ordinary_push_button{:'for'=>'combo11',:'data-stretch'=>'true'}
      %span.alignment{:'data-outer'=>'stretch',:'data-x'=>'left',:'data-y'=>'middle'}
        %span
          %span
            %span.text
              %span.icon_24px_text_editor_bold
              %span
                New feature
      %span.combobox_triangle
    .combobox_dropbox
    %label.combobox_dropbox_hide{:'for'=>'combo11'}
    %div