
.file
  .hidden-input
    %input{:'type'=>'file',:'id'=>'FILE_ID'}
  .horizontal-layout{:'data-outer'=>'flexible'}
  
    .column{:'data-inner'=>'flexible',:'style'=>'width:100%;'}
      %div
        .button_container{:'data-stretch'=>'false'}
          %label.__button.ordinary_push_button{:'for'=>'FILE_ID'}
            %span
              %span
                %span.text Select file

.file
  .hidden-input
    %input{:'type'=>'file',:'id'=>'FILE_ID'}
  .horizontal-layout{:'data-outer'=>'flexible'}
  
  
    .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
      %div
        .stretch-margin.file_upload_title_container{:'style'=>'margin:0 10px 0 0;'}
          %span.clipped-text
            %span.text
              %label.file_upload_title{:'for'=>'FILE_ID'}
                Select file Select file Select file Select file Select file Select file Select file Select file Select file Select file Select file
                
    .column{:'data-inner'=>'flexible'}
      %div{:'style'=>'width:30px;'}
        .button_container{:'data-stretch'=>'only_x'}
          %button.__button.ordinary_push_button
            %span.icon_16px_control_ordinary_unchecked
          %div
    .column{:'data-inner'=>'flexible'}
      %div
        .button_container{:'data-stretch'=>'false'}
          %button.__button.ordinary_push_button
            %span.text Start Upload
          %div

.file
  .hidden_input
    %input{:'type'=>'file',:'id'=>'FILE_ID'}
  .horizontal-layout{:'data-outer'=>'flexible'}
              
    .column{:'data-inner'=>'flexible',:'style'=>'width:100%;'}
      %div
        .alignment{:'data-outer'=>'stretch',:'data-x'=>'left',:'data-y'=>'middle'}
          %div
            %div
              %img{:'src'=>'css/img/loading.gif'}
        