
%h2 [data-stretch=false]
.htmlarea_container{:'data-stretch'=>'false'}
  .htmlarea_toolbar
    .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
      %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_40'}
      %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_40'}
        %span
          %span 
            %span.icon_24px_text_editor_bold
    .button_container.conjoined_button_container{:'data-stretch'=>'false'}
      %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_41'}
      %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_41'}
        %span
          %span 
            %span.icon_24px_text_editor_italic
    .button_container.conjoined_button_container{:'data-stretch'=>'false'}
      %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_42'}
      %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_42'}
        %span
          %span 
            %span.icon_24px_text_editor_underline
    .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
      %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_43'}
      %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_43'}
        %span
          %span 
            %span.icon_24px_text_editor_strikethrough
    .button_container{:'data-stretch'=>'false'}
      %button{'class'=>"__button ordinary_push_button",:'for'=>'tmp_44'}
        %span.icon_24px_text_editor_code
    .button_container{:'data-stretch'=>'false'}
      %button{'class'=>"__button ordinary_push_button",:'for'=>'tmp_45'}
        %span.icon_24px_text_editor_file_upload
  .htmlarea{:'contenteditable'=>'true',:'style'=>'padding:10px'}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    
.htmlarea_container{:'data-stretch'=>'false'}
  .htmlarea_toolbar
  .htmlarea{:'contenteditable'=>'true',:'style'=>'padding:10px',:'data-check'=>'error'}
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  