
- icongrids = [['16px',
                [['Control',
                  ['Ordinary Unchecked',
                   'Ordinary Checked']]]],
               ['24px',
                [['Text Editor',
                  ['Bold',
                   'Italic',
                   'Underline',
                   'Strikethrough',
                   'Code',
                   'File Upload']]]],
               ['32px',
                [['Message',
                  ['Information',
                   'Question',
                   'Warning',
                   'Error']]]]]

- icongrids.each do |size,groups|
  - groups.each do |group,icons|
    %h3
      = group
    - icons.each do |icon|
      %div{:style=>"height:" + size}
        %span.text
          %span{:class=>"icon_" + size + "_" + group.downcase.gsub(' ', '_') + "_" + icon.downcase.gsub(' ', '_')}
          = icon
