
.clearfix
  .test_container
    %h2 button
    .clearfix
      - ['ordinary',
         'branded'].each do |value|
        .button_container{:'data-stretch'=>'false'}
          %button.__button{'class'=>value + "_push_button"}
            %span.text #{value}
          %div

    %h3 :disabled
    .clearfix
      - ['ordinary',
         'branded'].each do |value|
        .button_container{:'data-stretch'=>'false'}
          %button.__button{'class'=>value + "_push_button",:'disabled'=>'disabled'}
            %span.text #{value}
          %div
          
  .test_container
    %h2 link
    .clearfix
      .button_container{:'data-stretch'=>'false'}
        %a.__button.ordinary_push_button{:'href'=>'./push_button.html'}
          %span
            %span
              %span.text ordinary
        %div
      .button_container{:'data-stretch'=>'false'}
        %a.__button.branded_push_button{:'href'=>'./push_button.html'}
          %span
            %span
              %span.text branded
        %div
          
.clearfix
  .test_container
    %h2 stretch=true
    - ['ordinary',
       'branded'].each do |value|
      .test_container_btn
        .button_container{:'data-stretch'=>'true'}
          %button.__button{'class'=>value + "_push_button"}
            %span.text #{value}
          %div
  .test_container
    %h2 stretch=only_y
    - ['ordinary',
       'branded'].each do |value|
      .test_container_btn
        .button_container{:'data-stretch'=>'only_y'}
          %button.__button{'class'=>value + "_push_button"}
            %span.text #{value}
          %div
  .test_container
    %h2 stretch=only_x
    - ['ordinary',
       'branded'].each do |value|
      .test_container_btn
        .button_container{:'data-stretch'=>'only_x'}
          %button.__button{'class'=>value + "_push_button"}
            %span.text #{value}
          %div

.clearfix
  %h2 conjoined
  - ['ordinary',
     'branded'].each do |value|
    %div{:'style'=>'margin-bottom:21px;'}
      .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
        %button{'class'=>"__button " + value + "_push_button"}
          %span.icon_24px_text_editor_bold
      .button_container.conjoined_button_container{:'data-stretch'=>'false'}
        %button{'class'=>"__button " + value + "_push_button"}
          %span.icon_24px_text_editor_italic
      .button_container.conjoined_button_container{:'data-stretch'=>'false'}
        %button{'class'=>"__button " + value + "_push_button"}
          %span.icon_24px_text_editor_underline
      .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
        %button{'class'=>"__button " + value + "_push_button"}
          %span.icon_24px_text_editor_strikethrough
