
.rich-text
  %h1 Heading 1
  %h2 heading 2
  %h3 Heading 3
  %p Paragraph:
  %p <b>Lorem ipsum</b> <i>dolor sit amet</i>, <u>consectetur adipiscing elit</u>, <s>sed do eiusmod</s> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %p Unordered List:
  %ul
    %li list item
    %li list item
    %li
      list item
      %ul
        %li list item
        %li list item
        %li list item
    %li list item
    %li list item
  %p Ordered List:
  %ol
    %li list item
    %li list item
    %li
      list item
      %ol
        %li list item
        %li list item
        %li list item
    %li list item
    %li list item
  %p Definition List:
  %dl
    %dt Termin
    %dd It's definition.
    %dt Lipsum
    %dd Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  %p Table:
  %table
    %thead
      %tr
        %th
          thead th
        %td
          thead td
        %td
          thead td
    %tbody
      %tr
        %th
          tbody th
        %td
          tbody td
        %td
          tbody td
      %tr
        %th
          tbody th
        %td
          tbody td
        %td
          tbody td
      %tr
        %th
          tbody th
        %td
          tbody td
        %td
          tbody td
      %tr
        %th
          tbody th
        %td
          tbody td
        %td
          tbody td