
<!-- float textarea -->
%textarea{:'data-check'=>'error',:'style'=>'height:30px;'}

<!-- - -->
%div{:'style'=>'height:60px;width:100%;position:relative;'}

  <!-- stretch textarea -->
  %textarea.stretch{:'data-check'=>'',:'style'=>''}