
%div{:'style'=>'position:relative;margin:10px;width:800px;height:100px;text-align:right;'}

  .vertical_centering{:'data-horizontal_align'=>'left'}
    %div
      %div

        .number_field_group
          %div
            .number_field
              %div
                .number_field__texfield
                  %input{:'type'=>'text',:'id'=>'id1',:'value'=>'365',:'maxlength'=>'3'}
                  %div
                .number_field__builtin_label
                  %label{:'for'=>'id1'}
                    DD
                .number_field__buttons
                  %label.button__increase_number{:'for'=>'id1'}
                  %label.button__decrease_number{:'for'=>'id1'}
          %div
            .number_field
              %div
                .number_field__texfield
                  %input{:'type'=>'text',:'id'=>'id2',:'value'=>'23',:'maxlength'=>'2'}
                  %div
                .number_field__builtin_label
                  %label{:'for'=>'id2'}
                    hh
                .number_field__buttons
                  %label.button__increase_number{:'for'=>'id2'}
                  %label.button__decrease_number{:'for'=>'id2'}
          %div
            .number_field
              %div
                .number_field__texfield
                  %input{:'type'=>'text',:'id'=>'id3',:'value'=>'59',:'maxlength'=>'2'}
                  %div
                .number_field__builtin_label
                  %label{:'for'=>'id3'}
                    mm
                .number_field__buttons
                  %label.button__increase_number{:'for'=>'id3'}
                  %label.button__decrease_number{:'for'=>'id3'}
          %div
            .number_field
              %div
                .number_field__texfield
                  %input{:'type'=>'text',:'id'=>'id4',:'value'=>'00',:'maxlength'=>'2'}
                  %div
                .number_field__builtin_label
                  %label{:'for'=>'id4'}
                    ss
                .number_field__buttons
                  %label.button__increase_number{:'for'=>'id4'}
                  %label.button__decrease_number{:'for'=>'id4'}

