
<!-- float textfield -->
%input.textfield{:'type'=>'text',:'data-check'=>'error',:'style'=>'height:30px;'}

<!-- - -->
%div{:'style'=>'height:60px;width:100%;position:relative;'}

  <!-- stretch textfield -->
  %input.stretch.textfield{:'type'=>'text',:'data-check'=>'',:'style'=>'font-size:21px;text-align:center;'}