
%h2 label
%h3 inactive
.clearfix
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_10'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_10'}
      %span
        %span
          %span.text ordinary
    %div
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_11'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_11'}
      %span
        %span
          %span.text branded
    %div

.clearfix
  %h3 :disabled
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_20',:'disabled'=>'disabled'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_20'}
      %span
        %span
          %span.text ordinary
    %div
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_21',:'disabled'=>'disabled'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_21'}
      %span
        %span
          %span.text branded
    %div
          
.clearfix
  %h3 :checked :disabled
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_30',:'disabled'=>'disabled',:'checked'=>'checked'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_30'}
      %span
        %span
          %span.text ordinary
    %div
  .button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_31',:'disabled'=>'disabled',:'checked'=>'checked'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_31'}
      %span
        %span
          %span.text branded
    %div

.clearfix
  %h2 button
  %h3 .active
  .clearfix
    - ['ordinary',
       'branded'].each do |value|
      .button_container{:'data-stretch'=>'false'}
        %button.__button{'class'=>value + "_toggle_button active"}
          %span.text #{value}
        %div
        
  %h3 .active :disabled
  .clearfix
    - ['ordinary',
       'branded'].each do |value|
      .button_container{:'data-stretch'=>'false'}
        %button.__button{'class'=>value + "_toggle_button active",:'disabled'=>'disabled'}
          %span.text #{value}
        %div
  

%h2 conjoined
.clearfix{:'style'=>'margin-bottom:21px;'}
  .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_40'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_40'}
      %span
        %span 
          %span.icon_24px_text_editor_bold
  .button_container.conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_41'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_41'}
      %span
        %span 
          %span.icon_24px_text_editor_italic
  .button_container.conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'checked'=> true,:'id'=>'tmp_42'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_42'}
      %span
        %span 
          %span.icon_24px_text_editor_underline
  .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_43'}
    %label{'class'=>"__button ordinary_toggle_button",:'for'=>'tmp_43'}
      %span
        %span 
          %span.icon_24px_text_editor_strikethrough
.clearfix{:'style'=>'margin-bottom:21px;'}
  .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_50'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_50'}
      %span
        %span 
          %span.icon_24px_text_editor_bold
  .button_container.conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_51'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_51'}
      %span
        %span 
          %span.icon_24px_text_editor_italic
  .button_container.conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_52'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_52'}
      %span
        %span 
          %span.icon_24px_text_editor_underline
  .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
    %input.toggle_button_input{:'type'=>'checkbox',:'id'=>'tmp_53'}
    %label{'class'=>"__button branded_toggle_button",:'for'=>'tmp_53'}
      %span
        %span 
          %span.icon_24px_text_editor_strikethrough
        
        
        