
$window_head_height: 30px
$window_foot_height: 37px

=th__window_design__head
  
  &:after
    @include box-shadow(inset 1px 1px 2px 0 rgba(white,0.5), inset -1px -1px 3px 0 rgba(black,0.55))

=th__window_design__foot
  border-top: 1px solid $Gray1

//--------------------------------------------------------------------------------------------------

.window
  z-index: 10
  &:after
    @include stretch-pseudo-element
    z-index: -2
    @include border-radius(5px)
    background: white
    @include box-shadow(0 0 2px 0 rgba(0,0,0,0.34), 0 0 4px 0 rgba(0,0,0,0.21))

.window-head
  z-index: 10
  @include border-radius(5px 5px 0 0)
  overflow: hidden
  &:before
    @include stretch-pseudo-element
    z-index: -2
  &:after
    content: ''
    display: block
    position: absolute
    z-index: -1
    bottom: -1px
    top: -10px
    left: -10px
    right: -10px
  @include th__window_design__head
  > .stretch-margin,
  > .stretch
    margin: 1px 1px 2px 1px
  .text
    padding: 0 0.62em

.window-foot
  height: $window_foot_height
  position: relative
  z-index: 10
  @include th__window_design__foot
  > .stretch-margin
    margin: 4px

//--------------------------------------------------------------------------------------------------

.window
  &[data-stretch=true]
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    margin: 4px
    > .window-head
      position: relative
      width: 100%
      height: $window_head_height
    > .window-body
      position: absolute
      top: $window_head_height
      right: 0
      bottom: 0
      left: 0
      overflow-y: auto
  &[data-stretch=false]
    position: relative
    margin: 4px
    min-width: 150px
    > .window-head
      position: relative
      width: 100%
      height: $window_head_height
    > .window-body
      position: relative
