
[data-type^=message__] {max-width: 610px;}

//--------------------------------------------------------------------------------------------------

.message-container
{
  margin: 13px;
  min-height: 32px;
  display: table;
  > div
  {
    display: table-cell;
    vertical-align: middle;
    &:last-child {text-align: left;}
  }
}

.message-text-container {padding-left: 13px;}

.message-icon
{
  @extend [class^=icon_];
  @extend [class^=icon_32px];
}

//--------------------------------------------------------------------------------------------------

$message_palettes: map-get($window_palette, message);
@each $palette, $options in $message_palettes
{
  [data-type=message__#{$palette}]
  {
    .window-head
    {
      color: map-get($options, text);
      &:after
      {
        @include linear-gradient(
          nth(map-get($options, gradient), 1),
          nth(map-get($options, gradient), 2));
      }
    }
    .message-icon
    {
      @extend .icon_32px_message_#{$palette};
    }
  }
}
