
.close-icon
{
  @extend [class^=icon_];
  @extend [class^=icon_16px];
}

$panel_palettes: map-get($window_palette, panel);
@each $palette, $options in $panel_palettes
{
  .#{$palette}-panel
  {
    .window-head
    {
      color: map-get($options, text);
      &:before
      {
        @include linear-gradient(
          nth(map-get($options, gradient), 1),
          nth(map-get($options, gradient), 2));
      }
    }
    .close-icon
    {
      @extend .icon_16px_control_#{$palette}_unchecked;
    }
  }
}
$panel_pal_opt: deep-map-get($window_palette, panel, ordinary);
.branded-panel
{
  .ordinary-panel
  {
    .window-head
    {
      color: map-get($panel_pal_opt, text);
      &:before
      {
        @include linear-gradient(
          nth(map-get($panel_pal_opt, gradient), 1),
          nth(map-get($panel_pal_opt, gradient), 2));
      }
    }
    .close-icon
    {
      @extend .icon_16px_control_ordinary_unchecked;
    }
  }
}