
.stretch{:'style'=>'top:0;height:50%;'}

  .horizontal-layout{:'data-outer'=>'flexible'}
    .column{:'data-inner'=>'flexible'}
      %span.text inline-blocks take this place
    .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
      %div
        .stretch-margin{:'style'=>'margin:10px;'}
          %span.text absolutely positioned blocks takes this place 1

.stretch{:'style'=>'top:50%;height:50%;'}

  .horizontal-layout{:'data-outer'=>'stretch'}
    .column{:'data-inner'=>'flexible'}
      %span.text inline-blocks take this place
    .column{:'data-inner'=>'stretch',:'style'=>'width:100%;'}
      %div
        .stretch-margin{:'style'=>'margin:10px;'}
          %span.text absolutely positioned blocks takes this place 2
