
.stretch-margin{:'style'=>'margin:10px;'}

  .vertical-layout{:'data-outer'=>'stretch'}
    .row{:'data-inner'=>'flexible'}
      %div
        %div
          %span.text line
    .row{:'data-inner'=>'flexible'}
      %div
        %div
          %span.text line
    .row{:'data-inner'=>'stretch'}
      %div
        %div
          .stretch-margin{:'style'=>'margin:auto'}
            %span.text stretch
    .row{:'data-inner'=>'flexible'}
      %span.text line

