/**
 * alignment
 */

.alignment,
.centering {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  
  &[data-outer=stretch] {
    position: absolute;
  }
  &[data-outer=flexible] {
    position: relative;
  }
  > div,
  > span {
    display: table-cell;
    font-size: 0;
    line-height: 0;
    
    > div,
    > span {
      display: inline-block;
    }
  }
}

.centering {
  > div,
  > span {
    text-align: center;
    vertical-align: middle;
  }
}

.alignment {
  &[data-x=left] {
    > div,
    > span {
      text-align: left;
    }
  }
  &[data-x=center] {
    > div,
    > span {
      text-align: center;
    }
  }
  &[data-x=right] {
    > div,
    > span {
      text-align: right;
    }
  }
  &[data-y=top] {
    > div,
    > span {
      vertical-align: top;
    }
  }
  &[data-y=middle] {
    > div,
    > span {
      vertical-align: middle;
    }
  }
  &[data-y=bottom] {
    > div,
    > span {
      vertical-align: bottom;
    }
  }
}
