/**
 * horizontal layout:
 * <code>
 *   .horizontal-layout[data-outer=flexible],
 *   .horizontal-layout[data-outer=stretch] {
 *     > .column[data-inner=flexible] {}
 *     > .column[data-inner=stretch] {
 *       > div {
 *         > .stretch-margin {}
 *       }
 *     }
 *   }
 * </code>
 */

.horizontal-layout {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  
  &[data-outer=flexible] {
    height: $field-height;
  }
  &[data-outer=stretch] {
    position: absolute;
    top: 0;
    left: 0;
  }
  > .column {
    display: table-cell;
    min-height: 100%;
    height: 100%;
    font-size: 0;
    
    &[data-inner=flexible] {
      vertical-align: middle;
      white-space: nowrap;
      
      > div {
        display: inline-block;
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
    &[data-inner=stretch] {
      vertical-align: top;
      white-space: normal;
      
      > div {
        position: relative;
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;
        float: left;
      }
    }
  }
}
