/**
 * vertical layout:
 * <code>
 *   .vertical-layout[data-outer=flexible] {
 *     > .row {}
 *   }
 *   .vertical-layout[data-outer=stretch] {
 *     > .row[data-inner=flexible] {
 *       > div {
 *         > div {}
 *       }
 *     }
 *     > .row[data-inner=stretch] {
 *       > div {
 *         > div {
 *           > .stretch-margin {}
 *         }
 *       }
 *     }
 *   }
 * </code>
 */

.vertical-layout {
  display: table;
  width: 100%;
  
  &[data-outer=flexible] {
    height: $field-height;
  }
  &[data-outer=stretch] {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  > .row {
    display: table-row;
    width: 100%;
    
    &[data-inner=flexible] {
      height: auto;
      
      > div {
        display: table-cell;
        vertical-align: top;
        width: 100%;
        height: inherit; // Firefox bug fix
        
        > div {
          position: relative;
          width: 100%;
          height: 100%;
          float: left; // Firefox bug fix
        }
      }
    }
    &[data-inner=stretch] {
      height: 100%;
      
      > div {
        display: table-cell;
        vertical-align: top;
        width: 100%;
        
        > div {
          position: relative;
          width: 100%;
          height: 100%;
          float: left; // Firefox bug fix
          
          > .stretch-margin {
            overflow-y: auto;
            overflow-x: hidden;
          }
        }
      }
    }
  }
}
