.checkbox_container

  %input{:'type'=>'checkbox',
         :'class'=>'checkbox_input',
         :'data-thid'=>'checkbox'}
         
  %label{:'class'=>'checkbox',
         :'data-align'=>'left',
         :'data-thid'=>'label'}
         
