.combobox_container
  %input.button_checkbox{:'type'=>'checkbox',:'data-thid'=>'checkbox'}
  %label.button{:'data-thid'=>'checkboxLabel',:'data-shape'=>'stretch',:'data-style'=>'default'}
    %span.stretch_align{:'data-x_align'=>'left',:'data-y_align'=>'middle'}
      %span
        %span
          %span{:'style'=>'padding:0 0.62em;'}
            %span{:'data-thid'=>'selectedEntityName'}
    %span.combobox_triangle
  .combobox_dropbox{:'data-thid'=>'dropDownContainer',:'data-thmarker'=>'dropDown'}
    .combobox_option_group{:'data-thid'=>'optionContainer',:'data-thmarker'=>'dropDown'}
      / ComboboxOption.view.html