.file
  .hidden_input{:'data-thid'=>'fileInputContainer'}
  \
  .h{:'data-h-o'=>'stretch'}
    \
    / select file button
    \
    .h_{:'data-thid'=>'selectFileContainer',
        :'data-h-i'=>'line',
        :'style'=>'width: 100%;'}
      .h__
        .button_container{:'data-stretch'=>'false'}
          %label.__button.ordinary_push_button{:'data-thid'=>'selectFileLabel'}
            %span
              %span
                %span.text{:'data-thid'=>'selectFileText'}
                  Select File
    \
    / file is selected
    \
    .h_{:'data-thid'=>'fileIsSelectedContainer',
        :'data-h-i'=>'line',
        :'style'=>'width: 100%;'}
      .h__
        .file_upload_title_container
          %span.cut_text_outer
            %span.cut_text_inner
              %label.file_upload_title{:'data-thid'=>'fileIsSelectedLabel'}
                \
                / file name takes this place
                \
    \
    / delete button
    \
    .h_{:'data-thid'=>'deleteButtonContainer',
        :'data-h-i'=>'line'}
      .h__{:'style'=>'width: 30px;'}
        .button_container{:'data-stretch'=>'only_x'}
          %button.__button.ordinary_push_button{:'data-thid'=>'deleteButton'}
            %span.raster_icon_16px_control_ordinary_uncheck
    \
    / start upload button
    \
    .h_{:'data-thid'=>'startUploadButtonContainer',
        :'data-h-i'=>'line'}
      .h__
        .button_container{:'data-stretch'=>'false'}
          %button.__button.ordinary_push_button{:'data-thid'=>'startUploadButton'}
            %span.text{:'data-thid'=>'startUploadButtonText'}
              Upload
    \
    / loading indicator
    \
    .h_{:'data-thid'=>'uploadingIndicatorContainer',
        :'data-h-i'=>'line',
        :'style'=>'width: 100%;'}
      .h__
        %img{:'src'=>'./_js_/css/img/loading.gif',:'alt'=>'Loading...'}

  %iframe.hidden{:'data-thid'=>'iframe'}

