
.htmlarea_container{:'data-stretch'=>'false'}
  .htmlarea_toolbar{:'data-thid'=>'menuDiv'}
  
    .button_container.first_conjoined_button_container{:'data-stretch'=>'false'}
      %input{:'class'=>"toggle_button_input",
             :'type'=>'checkbox',
             :'data-thid'=>'boldCheckbox'}
      %label{:'class'=>"__button ordinary_toggle_button",
             :'data-thid'=>'boldCheckboxLabel'}
        %span
          %span 
            %span.raster_icon_24px_text_editor_bold
            
    .button_container.conjoined_button_container{:'data-stretch'=>'false'}
      %input{:'class'=>"toggle_button_input",
             :'type'=>'checkbox',
             :'data-thid'=>'italicCheckbox'}
      %label{:'class'=>"__button ordinary_toggle_button",
             :'data-thid'=>'italicCheckboxLabel'}
        %span
          %span 
            %span.raster_icon_24px_text_editor_italic
            
    .button_container.conjoined_button_container{:'data-stretch'=>'false'}
      %input{:'class'=>"toggle_button_input",
             :'type'=>'checkbox',
             :'data-thid'=>'underlineCheckbox'}
      %label{:'class'=>"__button ordinary_toggle_button",
             :'data-thid'=>'underlineCheckboxLabel'}
        %span
          %span 
            %span.raster_icon_24px_text_editor_underline
            
    .button_container.last_conjoined_button_container{:'data-stretch'=>'false'}
      %input{:'class'=>"toggle_button_input",
             :'type'=>'checkbox',
             :'data-thid'=>'strikethroughCheckbox'}
      %label{:'class'=>"__button ordinary_toggle_button",
             :'data-thid'=>'strikethroughCheckboxLabel'}
        %span
          %span 
            %span.raster_icon_24px_text_editor_strikethrough
            
            
    .button_container{:'data-stretch'=>'false'}
      %button{'class'=>"__button ordinary_push_button",
              'data-thid'=>'codeButton'}
        %span.raster_icon_24px_text_editor_code
    .button_container{:'data-stretch'=>'false'}
      %button{'class'=>"__button ordinary_push_button",
              'data-thid'=>'uploadButton'}
        %span.raster_icon_24px_text_editor_file_upload
        
  .htmlarea{:'contenteditable'=>'true',
            :'data-thid'=>'editableDiv'}
            
  %input{:'class'=>'hidden',
         :'data-thid'=>'webKitFixInput',
         :'tabIndex'=>'-1'}
