.stretch_label{:'data-thid'=>'height'}
  %span{:'data-thid'=>'align',:'style'=>'vertical-align: middle; text-align: left;'}
    %span{:'data-thid'=>'text'}
      \
      / text takes this place
      \

