
.stretch
  \
  / table head:
  \
  %div{:'data-thid'=>'columnHeader',:'style'=>'position:absolute;top:0;right:0;height:26px;left:0;'}
    .fixed_table_head
      %div
        .fixed
          .table_head
            %table
              %colgroup{:'data-thid'=>'colgroup'}
                \
                / col width is required
                \
              %tr{:'data-thid'=>'columnContainer'}
                \
                / table head entries take this place
                \
        .fix
          %div
  \
  / table body:
  \
  %div{:'data-thid'=>'rowDiv',:'style'=>'overflow-y:scroll;position:absolute;top:26px;right:0;bottom:0;left:0;'}
    %table.table_body{:'data-thid'=>'rowContaner'}
      \
      / tablefield data row takes this place
      \


