%th
  \
  / "checked" when active
  \
  %input.hidden_input{:'type'=>'radio',:'data-thid'=>'ascRadio'}
  %input.hidden_input{:'type'=>'radio',:'data-thid'=>'descRadio'}
  %div
    %label.speedy_sorting{:'data-thid'=>'ascRadioLabel'}
    %label.speedy_sorting{:'data-thid'=>'descRadioLabel'}
    .th__text
      .stretch_centering
        %div
          %div
            %span{:'data-thid'=>'columnName'}

