
\
/ set aggregative "true" when children exist, otherwise set "false"
\
%div{:'class'=>'tree_leaf',
     :'data-aggregative'=>''}
  
  \
  / expand branch when input is checked
  \
  %input{:'type'=>'checkbox',
         :'checked'=>'',
         :'class'=>'checkbox_for_tree_branch',
         :'data-thid'=>'expandCheckbox'}
  \
  /
  \
  %div
  
    \
    / expand button:
    \
    .tree_branch_toggle
      %label{:'class'=>'th__icon__',
             :'data-thid'=>'expandCheckboxLabel'}
      
    \
    / leaf body:
    \
    .tree_leaf_toggle
      .h{:'data-outer'=>'line',
         :'style'=>'height:28px;'}
      
        \
        / additional columns appear here
        \
        
        \
        / main column:
        \
        .h_{:'data-inner'=>'stretch',
            :'data-thid'=>'betweenContainer',
            :'style'=>'width:100%;'}
          .h__
            .h___
              %input.tree_button_input{:'type'=>'radio'}
              %button{:'class'=>'button tree_button_main',
                      :'data-thid'=>'button',
                      :'data-shape'=>'stretch',
                      :'data-style'=>'tree_button',
                      :'style'=>'height:28px;'}
                %span.cut_text_outer
                  %span.cut_text_inner.text{:'data-thid'=>'name'}
                    \
                    / name takes this place
                    \
                  
    .tree_branch{:'data-thid'=>'leafsContainer'}
      \
      / inner leafs appear here
      \

