
%div{:'style'=>'position: absolute; top: 0; right: 0; height: 0px; left: 0;'}
  \
  / <<< change height
  \

  .fixed_table_head
    %div
      .fixed
        .table_head
          %table
            %colgroup{:'data-thid'=>'headerColgroup'}
            %tr{:'data-thid'=>'headerColumnContainer'}
              \
              / column sells appear here
              \
      .fix
        %div

