.load.secondary_load
  %div
    %div
      %span.text
        Loading data...
      .load_animation
        %img{:'src'=>'assets/vendor/diaphanous-dress/dist/css/img/loading.gif',:'alt'=>'Loading...'}


