
.htmlarea_container
  &[data-stretch=only_y]
    position: relative
    height: 100%
    margin: 4px
    .htmlarea
      overflow-y: hidden
      position: relative
      height: 100%
      @include border-radius(3px)
  &[data-stretch=true]
    @include stretch_margin
    margin: 4px
    .htmlarea
      overflow-y: auto
      position: absolute
      top: $field_height
      right: 0
      bottom: 0
      left: 0
      @include border-radius(3px 0 0 3px)
  &[data-stretch=false]
    position: relative
    height: auto
    margin: 4px
    .htmlarea
      position: relative
      min-height: 50px
      height: auto !important
      @include border-radius(3px)

.htmlarea
  border: 1px solid
  outline: none
  text-align: left
  font-size: 13px
  min-width: 34px
.string_area
  white-space: nowrap
  height: 100%
  min-height: 100% !important
  width: auto
  float: left
  padding: 0
  > span
    display: table
    width: 100%
    height: 100%
    position: relative
    left: 0
    top: 0
    > span
      display: table-cell
      vertical-align: middle
      text-align: center
      padding: 0 0.62em
      height: 100%
        
  

.htmlarea_toolbar
  text-align: left
  font-size: 0 
  + .htmlarea
    @include border-radius(3px)
    
//--------------------------------------------------------------------------------------------------
    
.page_xnamed
  .htmlarea_toolbar
    white-space: nowrap
    float: left
    width: auto

    
//--------------------------------------------------------------------------------------------------

.htmlarea
  @include text_field_state_palette(normal,inactive)
  &:hover
    @include text_field_state_palette(normal,hover)
  &:focus
    @include text_field_state_palette(normal,focus)
  &[data-check=error]
    @include text_field_state_palette(error,inactive)
    &:hover
      @include text_field_state_palette(error,hover)
    &:focus
      @include text_field_state_palette(error,focus)

[contenteditable=true]
  outline: none
  @extend .htmlarea

.htmlarea
  //padding: 1em